# Testing environment for DoSE

## Setup

### Load libraries

In [1]:
import pandas as pd
import numpy as np 
import gseapy
from biothings_client import get_client

### Define data

In [2]:
seeds_file = "Input/0007079.txt"
betweenness_file = "Input/0007079_added_200_dmd_betweenness_hub_0.01.txt"
significance_file = "Input/0007079_added_200_dmd_significance_hub_1.txt"
diseases_file = "Input/ICD10_commROCG_raw.txt"
disease_clusters_file = "Input/ICD10_commROCG_cluster.txt"

### Load data

In [3]:
disease_id = "0007079"
seeds = pd.read_csv(seeds_file, sep="\t", header=None)[0]
betweenness = pd.read_csv(betweenness_file, sep="\t")['node']
significance = pd.read_csv(significance_file, sep="\t")['node']
diseases = pd.read_csv(diseases_file, sep="\t", header=None)
disease_clusters = pd.read_csv(disease_clusters_file, sep="\t", header=None)

In [4]:
import timeit
start = timeit.default_timer()

stop = timeit.default_timer()
print('Time: ', stop - start)

Time:  4.699100099969655e-05

## Network from NeDReX

In [1]:
import os
import pandas as pd

In [34]:
gene_ids = pd.read_csv("../mapping_files/tmp/gene_id_mapping.csv", dtype=str)
gene_ids

      entrezgene symbol uniprot.Swiss-Prot          ensembl
0              1   A1BG             P04217  ENSG00000121410
1              2    A2M             P01023  ENSG00000175899
2              3  A2MP1                NaN  ENSG00000256069
3              9   NAT1             P18440  ENSG00000171428
4             10   NAT2             P11245  ENSG00000156006
...          ...    ...                ...              ...
61638    8923215    NaN                NaN              NaN
61639    8923216    NaN                NaN              NaN
61640    8923217    NaN                NaN              NaN
61641    8923218    NaN                NaN              NaN
61642    8923219    NaN                NaN              NaN

[61643 rows x 4 columns]

In [36]:
gene_ids[gene_ids['uniprot.Swiss-Prot'].fillna("").str.contains(";")]

      entrezgene          symbol    uniprot.Swiss-Prot          ensembl
229          276           AMY1A  P0DTE7;P0DUB6;P0DTE8  ENSG00000237763
230          277           AMY1B  P0DTE7;P0DUB6;P0DTE8  ENSG00000174876
231          278           AMY1C  P0DTE7;P0DUB6;P0DTE8  ENSG00000187733
550          670            BPHL         Q86W56;Q86WA6  ENSG00000137274
576          706            TSPO         B1AH88;P30536  ENSG00000100300
...          ...             ...                   ...              ...
41744  102723680          CT45A9  P0DMV1;Q5DJT8;P0DMV2  ENSG00000270946
41771  102723737          CT45A8  P0DMV1;Q5DJT8;P0DMV2  ENSG00000278085
42052  102724428    LOC102724428     P57059;A0A0B4J2F2  ENSG00000275993
45225  105373251         FAM236D     A0A1B0GTK5;P0DP71  ENSG00000225396
57847  110599583  EEF1AKMT4-ECE2         P0DPD8;P0DPD6  ENSG00000284917

[136 rows x 4 columns]

In [33]:
gene_ids[gene_ids['ensembl'].fillna("").str.contains(";")]

,entrezgene,symbol,uniprot.Swiss-Prot,ensembl
17,23,ABCF1,Q8NE71,ENSG00000231129;ENSG00000206490;ENSG0000023614...
23,29,ABR,Q12979,ENSG00000159842;ENSG00000278741;ENSG00000276016
25,31,ACACA,Q13085,ENSG00000275176;ENSG00000278540
40,49,ACR,P10323,ENSG00000283539;ENSG00000100312
67,81,ACTN4,O43707,ENSG00000282844;ENSG00000130402
...,...,...,...,...
57904,111064649,SMIM33,NaN,ENSG00000288274;ENSG00000283288
59164,112268408,LOC112268408,NaN,ENSG00000266988;ENSG00000284955
59930,112806053,TBILA,NaN,ENSG00000285293;ENSG00000261488
59991,112840933,ZKSCAN7-AS1,NaN,ENSG00000281456;ENSG00000236869
60825,114515514,RCC2-AS1,NaN,ENSG00000227751;ENSG00000281391

In [5]:
gene_ids[['uniprot.Swiss-Prot', 'entrezgene']].set_index('uniprot.Swiss-Prot').to_dict()['entrezgene']

{'P04217': '1',
 'P01023': '2',
 'P18440': '9',
 'P11245': '10',
 'P01011': '12',
 'P22760': '13',
 'Q13685': '14',
 'Q16613': '15',
 'P49588': '16',
 'P80404': '18',
 'O95477': '19',
 'Q9BZC7': '20',
 'Q99758': '21',
 'O75027': '22',
 'Q8NE71': '23',
 'P78363': '24',
 'P00519': '25',
 'P19801': '26',
 'P42684': '27',
 'P16442': '28',
 'Q12979': '29',
 'P09110': '30',
 'Q13085': '31',
 'O00763': '32',
 'P28330': '33',
 'P16219': '35',
 'P45954': '36',
 'P49748': '37',
 'P24752': '38',
 'Q9BWD1': '39',
 'Q16515': '40',
 'P78348': '41',
 'P22303': '43',
 'P53396': '47',
 'P21399': '48',
 'P10323': '49',
 'Q99798': '50',
 'Q15067': '51',
 'P24666': '52',
 'P11117': '53',
 'P13686': '54',
 'P26436': '56',
 'P68133': '58',
 'P62736': '59',
 'P60709': '60',
 'P68032': '70',
 'P63261': '71',
 'P63267': '72',
 'O96019': '86',
 'Q13705': '93',
 'P37023': '94',
 'P14621': '98',
 'P00813': '100',
 'P78325': '101',
 'O14672': '102',
 'P55265': '103',
 'P78563': '104',
 'Q9NS39': '105',
 'Q08828': '107',
 'Q08462': '108',
 'O60266': '109',
 'O95622': '111',
 'O43306': '112',
 'P51828': '113',
 'P40145': '114',
 'O60503': '115',
 'P18509': '116',
 'P41586': '117',
 'P35612': '119',
 'Q9UEY8': '120',
 'Q99541': '123',
 'P07327': '124',
 'P00325': '125',
 'P00326': '126',
 'P08319': '127',
 'P11766': '128',
 'P28332': '130',
 'P40394': '131',
 'P55263': '132',
 'P35318': '133',
 'P29274': '135',
 'P29275': '136',
 'P0DMS8': '140',
 'P54922': '141',
 'P09874': '142',
 'Q9UKK3': '143',
 'P25100': '146',
 'P35368': '147',
 'P35348': '148',
 'P08913': '150',
 'P18825': '152',
 'P08588': '153',
 'P07550': '154',
 'P13945': '155',
 'P30566': '158',
 'P30520': '159',
 'O95782': '160',
 'O94973': '161',
 'Q10567': '162',
 'P63010': '163',
 'O43747': '164',
 'Q8IUX7': '165',
 'Q08117': '166',
 'P54107': '167',
 'P43652': '173',
 'P02771': '174',
 'P20933': '175',
 'P16112': '176',
 'Q15109': '177',
 'P35573': '178',
 'O00253': '181',
 'P78504': '182',
 'P35414': '187',
 'P21549': '189',
 'P51843': '190',
 'P23526': '191',
 'P35869': '196',
 'P02765': '197',
 'P55008': '199',
 'Q9Y4K1': '202',
 'P00568': '203',
 'P54819': '204',
 'P27144': '205',
 'P31749': '207',
 'P31751': '208',
 'P13716': '210',
 'P13196': '211',
 'P22557': '212',
 'P02768': '213',
 'Q13740': '214',
 'P33897': '215',
 'P00352': '216',
 'P30838': '218',
 'P30837': '219',
 'P47895': '220',
 'P43353': '221',
 'P49189': '223',
 'P51648': '224',
 'Q9UBJ2': '225',
 'P05062': '229',
 'P09972': '230',
 'P15121': '231',
 'Q9UM73': '238',
 'P18054': '239',
 'P09917': '240',
 'P20292': '241',
 'O75342': '242',
 'P16050': '246',
 'O15296': '247',
 'P09923': '248',
 'P05186': '249',
 'P05187': '250',
 'P10696': '251',
 'O95076': '257',
 'Q9NP70': '258',
 'P02760': '259',
 'P17707': '262',
 'Q99217': '265',
 'Q99218': '266',
 'Q9UKV5': '267',
 'Q16671': '269',
 'P23109': '270',
 'Q01433': '271',
 'Q01432': '272',
 'P49418': '273',
 'O00499': '274',
 "['P0DTE7', 'P0DUB6', 'P0DTE8']": '278',
 'P04746': '279',
 'P19961': '280',
 'Q15389': '284',
 'O15123': '285',
 'P16157': '286',
 'Q12955': '288',
 'P15144': '290',
 'P12235': '291',
 'P05141': '292',
 'P12236': '293',
 'P04083': '301',
 'P07355': '302',
 'P12429': '306',
 'P09525': '307',
 'P08758': '308',
 'P08133': '309',
 'P20073': '310',
 'P50995': '311',
 'P27216': '312',
 'Q06278': '316',
 'O14727': '317',
 'P50583': '318',
 'Q13790': '319',
 'Q02410': '320',
 'Q99767': '321',
 'Q92870': '323',
 'P25054': '324',
 'P02743': '325',
 'O43918': '326',
 'P13798': '327',
 'P27695': '328',
 'O15392': '332',
 'P51693': '333',
 'Q06481': '334',
 'P02647': '335',
 'P02652': '336',
 'P06727': '337',
 'P04114': '338',
 'P41238': '339',
 'P02654': '341',
 'O94778': '343',
 'P02655': '344',
 'P02656': '345',
 'P55056': '346',
 'P05090': '347',
 'P02649': '348',
 'P02749': '350',
 'P05067': '351',
 'P07741': '353',
 'P07288': '354',
 'P25445': '355',
 'P48023': '356',
 'Q13796': '357',
 'P29972': '358',
 'P41181': '359',
 'Q92482': '360',
 'P55087': '361',
 'P55064': '362',
 'Q13520': '363',
 'O14520': '364',
 'O43315': '366',
 'P10275': '367',
 'O95255': '368',
 'P10398': '369',
 'P48444': '372',
 'P36406': '373',
 'P15514': '374',
 'P84077': '375',
 'P61204': '377',
 'P18085': '378',
 'P49703': '379',
 'P84085': '381',
 'P62330': '382',
 'P05089': '383',
 'P78540': '384',
 'P61586': '387',
 'P62745': '388',
 'P08134': '389',
 'P61587': '390',
 'P84095': '391',
 'Q07960': '392',
 'P98171': '393',
 'Q13017': '394',
 'O43182': '395',
 'P52565': '396',
 'P52566': '397',
 'Q99819': '398',
 'Q15669': '399',
 'P40616': '400',
 'O14813': '401',
 'P36404': '402',
 'P36405': '403',
 'P27540': '405',
 'O00327': '406',
 'P36575': '407',
 'P49407': '408',
 'P32121': '409',
 'P15289': '410',
 'P08842': '412',
 'P51689': '414',
 'P51690': '415',
 'P54793': '416',
 'P52961': '417',
 'Q13508': '419',
 'Q93070': '420',
 'O00192': '421',
 'Q13510': '427',
 'P50553': '429',
 'Q99929': '430',
 'P07306': '432',
 'P07307': '433',
 'P42127': '434',
 'P04424': '435',
 'P46597': '438',
 'O43681': '439',
 'P08243': '440',
 'P45381': '443',
 'Q12797': '444',
 'P00966': '445',
 'O14525': '460',
 'P01008': '462',
 'P18846': '466',
 'P18847': '467',
 'P18848': '468',
 'P31939': '471',
 'Q13315': '472',
 'Q9P2R6': '473',
 'O00244': '475',
 'P05023': '476',
 'P50993': '477',
 'P54707': '479',
 'Q13733': '480',
 'P05026': '481',
 'P20020': '490',
 'Q01814': '491',
 'Q16720': '492',
 'P20648': '495',
 'P51164': '496',
 'P25705': '498',
 'P06576': '506',
 'P36542': '509',
 'P30049': '513',
 'P56381': '514',
 'P24539': '515',
 'P05496': '516',
 'Q06055': '517',
 'P48201': '518',
 'P56385': '521',
 'P18859': '522',
 'P38606': '523',
 'P27449': '527',
 'P21283': '528',
 'P36543': '529',
 'Q99437': '533',
 'O95670': '534',
 'Q93050': '535',
 'Q15904': '537',
 'Q04656': '538',
 'P48047': '539',
 'P35670': '540',
 'Q13535': '545',
 'Q12756': '547',
 'Q13825': '549',
 'Q9Y679': '550',
 'P01185': '551',
 'P37288': '552',
 'P47901': '553',
 'P30518': '554',
 'P25311': '563',
 'P20160': '566',
 'P61769': '567',
 'Q14032': '570',
 'O14867': '571',
 'Q92934': '572',
 'Q99933': '573',
 'Q13072': '574',
 'O14514': '575',
 'O60241': '576',
 'O60242': '577',
 'Q16611': '578',
 'P78367': '579',
 'Q99728': '580',
 'Q07812': '581',
 'Q8NFJ9': '582',
 'Q9BXC9': '583',
 'Q96RK4': '585',
 'P54687': '586',
 'P24385': '595',
 'P10415': '596',
 'Q16548': '597',
 'Q07817': '598',
 'Q92843': '599',
 'P20749': '602',
 'P41182': '604',
 'O00512': '607',
 'Q02223': '608',
 'Q9UL51': '610',
 'P03999': '611',
 'Q9Y276': '617',
 'P46663': '623',
 'P30411': '624',
 'P23560': '627',
 'P00751': '629',
 'Q12934': '631',
 'P02818': '632',
 'P21810': '633',
 'P13688': '634',
 'Q93088': '635',
 'Q96G01': '636',
 'P55957': '637',
 'Q13323': '638',
 'O75626': '639',
 'P51451': '640',
 'P54132': '641',
 'Q13867': '642',
 'P32302': '643',
 'P53004': '644',
 'P30043': '645',
 'P13497': '649',
 'P12645': '651',
 'P12644': '652',
 'P22003': '653',
 'P18075': '655',
 'P34820': '656',
 'P36894': '657',
 'O00238': '658',
 'Q13873': '659',
 'P05423': '661',
 'Q12981': '662',
 'O60238': '665',
 'Q9UMX3': '666',
 'Q03001': '667',
 'P58012': '668',
 'P07738': '669',
 'P17213': '671',
 'P38398': '672',
 'P15056': '673',
 'P51587': '675',
 'Q58F21': '676',
 'Q07352': '677',
 'P47974': '678',
 'P32247': '680',
 'P35613': '682',
 'Q10588': '683',
 'Q10589': '684',
 'P35070': '685',
 'P43251': '686',
 'Q13886': '687',
 'Q13887': '688',
 'P20290': '689',
 'P62324': '694',
 'Q06187': '695',
 'Q13410': '696',
 'O43683': '699',
 'O60566': '701',
 'Q13895': '705',
 "['B1AH88', 'P30536']": '706',
 'Q07021': '708',
 'P05155': '710',
 'P02745': '712',
 'P02746': '713',
 'P02747': '714',
 'P00736': '715',
 'P09871': '716',
 'P06681': '717',
 'P01024': '718',
 'Q16581': '719',
 'P0C0L4': '720',
 "['P0C0L5', 'P0C0L4']": '721',
 'P04003': '722',
 'P20851': '725',
 'O15484': '726',
 'P01031': '727',
 'P21730': '728',
 'P13671': '729',
 'P10643': '730',
 'P07357': '731',
 'P07358': '732',
 'P07360': '733',
 'Q9Y236': '734',
 'P02748': '735',
 'Q9UID3': '738',
 'Q13405': '740',
 'Q9UHR6': '741',
 'Q15777': '744',
 'Q9Y2G1': '745',
 'P61165': '746',
 'Q9Y4D2': '747',
 'O95466': '752',
 'O15165': '753',
 'P53801': '754',
 'O15442': '758',
 'P00915': '759',
 'P00918': '760',
 'P07451': '761',
 'P35218': '763',
 'P23280': '765',
 'P43166': '766',
 'P35219': '767',
 'Q16790': '768',
 'O75493': '770',
 'O43570': '771',
 'O00555': '773',
 'Q00975': '774',
 'Q13936': '775',
 'Q01668': '776',
 'Q15878': '777',
 'O60840': '778',
 'Q13698': '779',
 'Q08345': '780',
 'P54289': '781',
 'Q02641': '782',
 'Q08289': '783',
 'P54284': '784',
 'O00305': '785',
 'Q06432': '786',
 'O43772': '788',
 'P27708': '790',
 'P05937': '793',
 'P22676': '794',
 'P29377': '795',
 "['P01258', 'P06881']": '796',
 'P10092': '797',
 'P30988': '799',
 'Q05682': '800',
 "['P0DP24', 'P0DP23', 'P0DP25']": '808',
 'P27482': '810',
 'P27797': '811',
 'O43852': '813',
 'Q16566': '814',
 'Q9UQM7': '815',
 'Q13554': '816',
 'Q13557': '817',
 'Q13555': '818',
 'P49069': '819',
 'P49913': '820',
 'P27824': '821',
 'P40121': '822',
 'P07384': '823',
 'P17655': '824',
 'P20807': '825',
 'P04632': '826',
 'Q9Y6Q1': '827',
 'Q13938': '828',
 'P52907': '829',
 'P47755': '830',
 'P20810': '831',
 'P47756': '832',
 'P29466': '834',
 'P42575': '835',
 'P42574': '836',
 'P49662': '837',
 'P51878': '838',
 'P55212': '839',
 'Q14790': '841',
 'P55211': '842',
 'Q92851': '843',
 'P31415': '844',
 'O14958': '845',
 'P41180': '846',
 'P04040': '847',
 'Q03135': '857',
 'P51636': '858',
 'P56539': '859',
 'Q13950': '860',
 'Q01196': '861',
 'Q06455': '862',
 'O75081': '863',
 'Q13761': '864',
 'Q13951': '865',
 'P08185': '866',
 'P22681': '867',
 'Q13191': '868',
 'P23435': '869',
 'P50454': '871',
 'O75828': '874',
 'P35520': '102724560',
 'Q13939': '881',
 'Q16773': '883',
 'P06307': '885',
 'P32239': '887',
 'O00522': '889',
 'P20248': '890',
 'P30279': '894',
 'P24864': '898',
 'P41002': '899',
 'P51959': '900',
 'Q16589': '901',
 'P51946': '902',
 'O60563': '904',
 'O60583': '905',
 'P40227': '908',
 'P06126': '909',
 'P29016': '910',
 'P29017': '911',
 'P15813': '912',
 'P15812': '913',
 'P06729': '914',
 'P04234': '915',
 'P07766': '916',
 'P09693': '917',
 'P20963': '919',
 'P01730': '920',
 'P06127': '921',
 'O43866': '922',
 'P30203': '923',
 'P09564': '924',
 'P01732': '925',
 'P10966': '926',
 'P21926': '928',
 'P08571': '929',
 'P15391': '930',
 'P11836': '931',
 'Q96HJ5': '932',
 'P20273': '933',
 'P26842': '939',
 'P10747': '940',
 'P42081': '942',
 'P28908': '943',
 'P32971': '944',
 'P20138': '945',
 'O43699': '946',
 'P28906': '947',
 'P16671': '948',
 'Q8WTV0': '949',
 'Q14108': '950',
 'P11049': '951',
 'P28907': '952',
 'P49961': '953',
 'Q9Y5L3': '954',
 'O75354': '955',
 'O75355': '956',
 'O75356': '957',
 'P25942': '958',
 'P29965': '959',
 'Q08722': '961',
 'P19397': '963',
 'P19256': '965',
 'P13987': '966',
 'P08962': '967',
 'P34810': '968',
 'Q07108': '969',
 'P32970': '970',
 'P21854': '971',
 'P04233': '972',
 'P11912': '973',
 'P60033': '975',
 'P48509': '977',
 'P32320': '978',
 'P06493': '983',
 'P21127': '984',
 'P50851': '987',
 'Q16181': '989',
 'Q99741': '990',
 'Q12834': '991',
 'P30304': '993',
 'P30305': '994',
 'P30307': '995',
 'P30260': '996',
 'P49427': '997',
 'P60953': '998',
 'P12830': '999',
 'P19022': '1000',
 'P22223': '1001',
 'P55283': '1002',
 'P33151': '1003',
 'P55285': '1004',
 'Q9ULB5': '1005',
 'P55286': '1006',
 'Q9ULB4': '1007',
 'Q9Y6N8': '1008',
 'P55287': '1009',
 'P55289': '1010',
 'P55290': '1012',
 'P55291': '1013',
 'O75309': '1014',
 'Q12864': '1015',
 'Q00535': '1020',
 'Q00534': '1021',
 'P50613': '1022',
 'P49336': '1024',
 'P50750': '1025',
 'P38936': '1026',
 'P46527': '1027',
 'P49918': '1028',
 "['P42771', 'Q8N726']": '1029',
 'P42772': '1030',
 'P42773': '1031',
 'P55273': '1032',
 'Q16667': '1033',
 'Q16878': '1036',
 'P51861': '1038',
 'Q01850': '1039',
 'Q92903': '1040',
 'Q15517': '1041',
 'P31358': '1043',
 'P47902': '1044',
 'Q99626': '1045',
 'O14627': '1046',
 'O14967': '1047',
 'P06731': '1048',
 'P49715': '1050',
 'P17676': '1051',
 'P49716': '1052',
 'Q15744': '1053',
 'P53567': '1054',
 'P49450': '1058',
 'P07199': '1059',
 'Q03188': '1060',
 'Q02224': '1062',
 'P49454': '1063',
 'P23141': '1066',
 'O15182': '1070',
 'P11597': '1071',
 'P23528': '1072',
 'Q9Y281': '1073',
 'P53634': '1075',
 'P13569': '1080',
 'P01215': '1081',
 'P0DN86': '94115',
 'P40198': '1084',
 'Q14002': '1087',
 'P31997': '1088',
 'O75871': '1089',
 'O15335': '1101',
 'P28329': '1103',
 'P18754': '1104',
 'O14646': '1105',
 'O14647': '1106',
 'Q12873': '1107',
 'Q14839': '1108',
 'P17516': '1109',
 'O14757': '1111',
 'O00409': '1112',
 'P10645': '1113',
 'P05060': '1114',
 'P36222': '1116',
 'Q15782': '1117',
 'Q13231': '1118',
 'P35790': '1119',
 'Q9Y259': '1120',
 'P24386': '1121',
 'P26374': '1122',
 'P15882': '1123',
 'P52757': '1124',
 'P11229': '1128',
 'P08172': '1129',
 'Q99698': '1130',
 'P20309': '1131',
 'P08173': '1132',
 'P08912': '1133',
 'P02708': '1134',
 'Q15822': '1135',
 'P32297': '1136',
 'P43681': '1137',
 'P30532': '1138',
 'P36544': '1139',
 'P11230': '1140',
 'P17787': '1141',
 'Q05901': '1142',
 'P30926': '1143',
 'Q07001': '1144',
 'Q04844': '1145',
 'P07510': '1146',
 'O15111': '1147',
 'O60543': '1149',
 'P12277': '1152',
 'Q14011': '1153',
 'Q9NSE2': '1154',
 'P06732': '1158',
 'P12532': '548596',
 'P17540': '1160',
 'P61024': '1163',
 'P33552': '1164',
 'Q96CW1': '1173',
 'P61966': '1174',
 'P53680': '1175',
 'Q92572': '1176',
 'Q05315': '1178',
 'A8K7I4': '1179',
 'P35523': '1180',
 'P51790': '1182',
 'P51793': '1183',
 'P51795': '1184',
 'P51797': '1185',
 'P51800': '1187',
 'O00299': '1192',
 'O15247': '1193',
 'P49759': '1195',
 'P49760': '1196',
 'P09497': '1212',
 'Q00610': '1213',
 'P23946': '1215',
 'P32246': '1230',
 'P51677': '1232',
 'P51679': '1233',
 'P51681': '1234',
 'P51684': '1235',
 'P32248': '1236',
 'P51685': '1237',
 'O00590': '1238',
 'Q99788': '1240',
 'Q15722': '1241',
 'Q92887': '1244',
 'Q14028': '1258',
 'P29973': '1259',
 'Q16280': '1260',
 'Q16281': '1261',
 'Q8IV77': '1262',
 'Q9H4B4': '1263',
 'P51911': '1264',
 'Q99439': '1265',
 'Q15417': '1266',
 'P09543': '1267',
 'P21554': '1268',
 'P34972': '1269',
 'P26441': '1270',
 'P26992': '1271',
 'Q12860': '1272',
 'P02452': '1277',
 'P08123': '1278',
 'P02458': '1280',
 'P02461': '1281',
 'P02462': '1282',
 'P08572': '1284',
 'Q01955': '1285',
 'P53420': '1286',
 'P29400': '1287',
 'Q14031': '1288',
 'P20908': '1289',
 'P05997': '1290',
 'P12109': '1291',
 'P12110': '1292',
 'P27658': '1295',
 'P25067': '1296',
 'P20849': '1297',
 'Q14055': '1298',
 'Q14050': '1299',
 'Q03692': '1300',
 'P13942': '1302',
 'Q99715': '1303',
 'Q5TAT6': '1305',
 'P39059': '1306',
 'Q07092': '1307',
 'Q9UMD9': '1308',
 'Q14993': '1310',
 'P49747': '1311',
 'P21964': '1312',
 'P53621': '1314',
 'P53618': '1315',
 'Q99612': '1316',
 'O15431': '1317',
 'O15432': '1318',
 'O00230': '1325',
 'P41279': '1326',
 'P13073': '1327',
 'P10606': '1329',
 'P12074': '1337',
 'Q02221': '1339',
 'P09669': '1345',
 'P24310': '1346',
 'P24311': '1349',
 'P15954': '1350',
 'P10176': '1351',
 'Q12887': '1352',
 'Q9Y6N1': '1353',
 'Q7KZN9': '1355',
 'P15085': '1357',
 'P48052': '1358',
 'P15088': '1359',
 'P15086': '1360',
 'Q96IY4': '1361',
 'O75976': '1362',
 'P16870': '1363',
 'O14493': '1364',
 'O15551': '1365',
 'O95471': '1366',
 'P14384': '1368',
 'P22792': '1370',
 'P23786': '1376',
 'P17927': '1378',
 'Q2VPA4': '1379',
 'P20023': '1380',
 'P29762': '1381',
 'P29373': '1382',
 'P43155': '1384',
 'P16220': '1385',
 'P15336': '1386',
 'Q92793': '1387',
 'Q99941': '1388',
 'O60519': '1389',
 'Q03060': '1390',
 'P06850': '1392',
 'P24387': '1393',
 'Q13324': '1395',
 'P50238': '1396',
 'P46108': '1398',
 'P46109': '1399',
 'Q14194': '1400',
 'P10915': '1404',
 'O43186': '1406',
 'Q16526': '1407',
 'Q49AN0': '1408',
 'P02489': '1409',
 'P02511': '1410',
 'P05813': '1411',
 'P53672': '1412',
 'P53673': '1413',
 'P53674': '1414',
 'P43320': '1415',
 'P26998': '1417',
 'P11844': '1418',
 'P07316': '1419',
 'P07315': '1420',
 'P07320': '1421',
 'P22914': '1427',
 'Q14894': '1428',
 'Q08257': '1429',
 'O75390': '1431',
 'Q16539': '1432',
 'P55060': '1434',
 'P09603': '1435',
 'P07333': '1436',
 'P04141': '1437',
 'P15509': '1438',
 'P32927': '1439',
 'P09919': '1440',
 'Q99062': '1441',
 "['P0DML3', 'P0DML2']": '1442',
 'P0DML3': '1443',
 'Q14406': '1444',
 'P41240': '1445',
 'P47710': '1446',
 'P07498': '1448',
 'P48729': '1452',
 'P48730': '1453',
 'P49674': '1454',
 'P13611': '1462',
 'Q6UVK1': '1464',
 'P21291': '1465',
 'Q9UBX3': '1468',
 'P01037': '1469',
 'P09228': '1470',
 'P01036': '1472',
 'P28325': '1473',
 'Q15828': '1474',
 'P01040': '1475',
 'P04080': '1476',
 'Q05048': '1477',
 'P33240': '1478',
 'Q12996': '1479',
 'P52952': '1482',
 'P78358': '246100',
 'Q01459': '1486',
 'Q13363': '1487',
 'P56545': '1488',
 'Q16619': '1489',
 'P29279': '1490',
 'P32929': '1491',
 'P16410': '1493',
 'P35221': '1495',
 'P26232': '1496',
 'O60931': '1497',
 'P35222': '1499',
 'O60716': '1500',
 'Q9UQB3': '1501',
 'P17812': '1503',
 'P17538': '1504',
 'P40313': '1506',
 'P07858': '1508',
 'P07339': '1509',
 'P14091': '1510',
 'P08311': '1511',
 'P09668': '1512',
 'P43235': '1513',
 'P07711': '1514',
 'O60911': '1515',
 'P43234': '1519',
 'P25774': '1520',
 'P56202': '1521',
 'Q9UBR2': '1522',
 "['P39880', 'Q13948']": '1523',
 'P49238': '1524',
 'P78310': '1525',
 'O15482': '1527',
 'P00167': '1528',
 'P49447': '1534',
 'P13498': '1535',
 'P04839': '1536',
 'P08574': '1537',
 'P35663': '1538',
 'Q14093': '1539',
 'Q9NQC7': '1540',
 'P04798': '1543',
 'P05177': '1544',
 'Q16678': '1545',
 'P11509': '1548',
 'P20853': '1549',
 'P24462': '1551',
 'Q16696': '1553',
 'P20813': '1555',
 'P33261': '1557',
 'P33260': '1562',
 'A0A087X1C5': '1564',
 'P10635': '1565',
 'P05181': '1571',
 'P24903': '1572',
 'P51589': '1573',
 'P08684': '1576',
 'P20815': '1577',
 'Q02928': '1579',
 'P13584': '1580',
 'P22680': '1581',
 'Q9UNU6': '1582',
 'P05108': '1583',
 'P15538': '1584',
 'P19099': '1585',
 'P05093': '1586',
 'P11511': '1588',
 'P08686': '1589',
 'Q07973': '1591',
 'O43174': '1592',
 'Q02318': '1593',
 'O15528': '1594',
 'Q16850': '1595',
 'O75553': '1600',
 'P98082': '1601',
 'Q9UI36': '1602',
 'P61803': '1603',
 'P08174': '1604',
 'Q14118': '1605',
 'P23743': '1606',
 'Q9Y6T7': '1607',
 ...}

In [3]:
os.system("mkdir tmp")
os.system("wget 'http://iid.ophid.utoronto.ca/static/download/human_annotated_PPIs.txt.gz' -P tmp/")
os.system("gzip -d tmp/human_annotated_PPIs.txt.gz")

0

In [11]:
with open('tmp/human_annotated_PPIs_uniprot.sif", 'a') as sif_file1:
    with open("tmp/human_annotated_PPIs.txt") as fp:
        line_split = fp.readline().split("\t")
        sif_file1.write(line_split[0]+"\t"+line_split[7]+"\t"+line_split[1]+"\n")
        for line in fp:
            line_split = line.split("\t")
            sif_file1.write(line_split[0]+"\t"+line_split[7]+"\t"+line_split[1]+"\n")

In [12]:
os.system("mv tmp/*.sif ./")
os.system("rm -R tmp")

0

In [4]:
import numpy as np
from scipy.sparse import csr_matrix

c = csr_matrix(np.array([[1,2,0],
                         [4,5,6],
                         [7,8,9]])) # construct an example matrix
d = dict(c.todok().items()) # convert to dictionary of keys format
print(d)

{(0, 0): 1, (1, 0): 4, (2, 0): 7, (0, 1): 2, (1, 1): 5, (2, 1): 8, (1, 2): 6, (2, 2): 9}

In [15]:
id1, id2 = 0, 2
#if (id1, id2) in d:
print(d[(id1,id2)])

KeyError: (0, 2)

In [13]:
for m, n in c.todok().items():
    s, t = m
    print(s,t , n)

0 0 1
1 0 4
2 0 7
0 1 2
1 1 5
2 1 8
1 2 6
2 2 9

In [24]:
df = pd.read_csv("../test.csv", dtype=str)
df

       mondo    omim   snomedct      umls   orpha     mesh     doid ICD-10
0    0012344  609790        NaN  C1853360     NaN  C565228  0110044    G30
1    0013673  614296  734022008  C4518338  411590  C565631      NaN    E13
2    0011016  601208        NaN  C1832605     NaN  C563371  0110750    E10
3    0012335  609734  702949005  C1857854   71526  C565726      NaN    E66
4    0012321  609636        NaN  C1864828     NaN  C566465  0110043    G30
..       ...     ...        ...       ...     ...      ...      ...    ...
182  0004784     NaN  389145006  C0155877     NaN      NaN     9415    J45
183  0016464     NaN        NaN  C0342337    2298      NaN      NaN    E13
184  0017636     NaN        NaN  CN203531  306669      NaN      NaN    G20
185  0017279     NaN  715345007       NaN    2828      NaN  0060894    G20
186  0006658     NaN        NaN  C0878486     NaN  D050379     5162    I70

[187 rows x 8 columns]

In [23]:
def split_and_expand_column(data, split_string, column_name):
    """
    Split column value in data by split_string and expand the dataframe
    to have a separate row for each value in split set.

    :param data: dataframe with data
    :param split_string: separator of values in cell
    :param column_name: column to split each cell of
    :return: expanded data dataframe
    """
    s = data[column_name].str.split(split_string, expand=True).stack()
    i = s.index.get_level_values(0)
    df2 = data.loc[i].copy()
    df2[column_name] = s.values
    return df2

icd_unstack = split_and_expand_column(data=df, split_string=",", column_name="ICD-10")
mapping = pd.concat([icd_unstack, df[df['ICD-10'] != '']])
mapping

       mondo    omim   snomedct      umls   orpha     mesh     doid ICD-10
0    0012344  609790        NaN  C1853360     NaN  C565228  0110044    G30
1    0013673  614296  734022008  C4518338  411590  C565631      NaN    E13
2    0011016  601208        NaN  C1832605     NaN  C563371  0110750    E10
3    0012335  609734  702949005  C1857854   71526  C565726      NaN    E66
4    0012321  609636        NaN  C1864828     NaN  C566465  0110043    G30
..       ...     ...        ...       ...     ...      ...      ...    ...
182  0004784     NaN  389145006  C0155877     NaN      NaN     9415    J45
183  0016464     NaN        NaN  C0342337    2298      NaN      NaN    E13
184  0017636     NaN        NaN  CN203531  306669      NaN      NaN    G20
185  0017279     NaN  715345007       NaN    2828      NaN  0060894    G20
186  0006658     NaN        NaN  C0878486     NaN  D050379     5162    I70

[374 rows x 8 columns]

In [25]:
mapping = df.copy()

In [83]:
def combine_rowsets(x):
    #print(x)
    return set().union(x)

In [31]:
import timeit
start = timeit.default_timer()
dichti = mapping.set_index('mondo')[['ICD-10']].T.to_dict('list')
stop = timeit.default_timer()
print('Time: ', stop - start)

Time:  0.006711977000122715

<ipython-input-31-f3d73ebdf547>:3: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  dichti = mapping.set_index('mondo')[['ICD-10']].T.to_dict('list')

In [91]:
import timeit
start = timeit.default_timer()
dicht = df.groupby('mondo')[['ICD-10']].agg(lambda g: combine_rowsets(set(g.values))).to_dict()['ICD-10']
stop = timeit.default_timer()
print('Time: ', stop - start)

Time:  0.0063025869994817185

In [51]:
df.groupby('mondo')[['ICD-10']]

In [27]:
import timeit
start = timeit.default_timer()
att_id_to_id = dict()
for att_id in mapping['mondo'].unique():
    att_id_to_id[att_id] = list(mapping[mapping['mondo'] == att_id]['ICD-10'])
stop = timeit.default_timer()
print('Time: ', stop - start)

Time:  0.02314313700026105

In [79]:
dichti

{'0012344': ['G30'],
 '0013673': ['E13'],
 '0011016': ['E10'],
 '0012335': ['E66'],
 '0012321': ['G30'],
 '0011057': ['I64'],
 '0011033': ['E10'],
 '0011068': ['E10'],
 '0014768': ['F01'],
 '0001491': ['J45'],
 '0014796': ['G20'],
 '0001302': ['I11'],
 '0002679': ['I63'],
 '0001200': ['I15'],
 '0015825': ['E66'],
 '0001134': ['I10'],
 '0013078': ['E10'],
 '0014309': ['E66'],
 '0004979': ['J45'],
 '0004975': ['G30'],
 '0002277': ['I70'],
 '0002275': ['I70'],
 '0014231': ['G20'],
 '0011847': ['G43'],
 '0010482': ['G20'],
 '0011777': ['G30'],
 '0008071': ['I15'],
 '0012919': ['E10'],
 '0012920': ['E10'],
 '0012921': ['E10'],
 '0011647': ['G30'],
 '0012961': ['E10'],
 '0000980': ['I70'],
 '0011572': ['E10'],
 '0011562': ['G20'],
 '0011561': ['G30'],
 '0011517': ['I15'],
 '0011502': ['E13'],
 '0000914': ['F01'],
 '0009101': ['E13'],
 '0000700': ['G43'],
 '0009192': ['E13'],
 '0013992': ['E66'],
 '0013991': ['E66'],
 '0012630': ['G30'],
 '0012631': ['G30'],
 '0011302': ['E10'],
 '0012632': ['G30'],
 '0012609': ['G30'],
 '0012520': ['E13'],
 '0001876': ['I70'],
 '0001815': ['G20'],
 '0012422': ['E10'],
 '0011122': ['E66'],
 '0011123': ['E10'],
 '0013781': ['I15'],
 '0013782': ['I15'],
 '0013778': ['I15'],
 '0013777': ['I15'],
 '0011168': ['E10'],
 '0011167': ['E10'],
 '0011194': ['G30'],
 '0005148': ['E11'],
 '0005147': ['E10'],
 '0018466': ['G20'],
 '0005180': ['G20'],
 '0005044': ['I12'],
 '0005084': ['F00'],
 '0005068': ['I22'],
 '0005071': ['G20'],
 '0007772': ['I15'],
 '0018244': ['E66'],
 '0005009': ['I50'],
 '0007669': ['E11'],
 '0018321': ['G20'],
 '0005015': ['E13'],
 '0005010': ['I22'],
 '0018105': ['E13'],
 '0007454': ['E10'],
 '0006044': ['I12'],
 '0007432': ['F01'],
 '0010862': ['E10'],
 '0010861': ['E10'],
 '0010864': ['E10'],
 '0010863': ['E10'],
 '0009874': ['E13'],
 '0010961': ['E66'],
 '0010950': ['E10'],
 '0019162': ['I15'],
 '0019182': ['E66'],
 '0010785': ['E13'],
 '0019115': ['E66'],
 '0010829': ['F01'],
 '0009830': ['G20'],
 '0007089': ['G30'],
 '0008323': ['I15'],
 '0019017': ['E13'],
 '0010709': ['G20'],
 '0004765': ['J45'],
 '0004781': ['I21'],
 '0004784': ['J45'],
 '0004648': ['F01'],
 '0017994': ['E66'],
 '0016464': ['E13'],
 '0015140': ['G30'],
 '0006993': ['I50'],
 '0018925': ['G43'],
 '0006947': ['I15'],
 '0018911': ['E11'],
 '0017636': ['G20'],
 '0005475': ['G43'],
 '0006716': ['I22'],
 '0006727': ['I50'],
 '0017279': ['G20'],
 '0018585': ['I63'],
 '0005277': ['G43'],
 '0006658': ['I70'],
 '0019977': ['G20'],
 '0019976': ['F01'],
 '0005311': ['I70']}

In [88]:
dicht

{'0000700': {'G43'},
 '0000914': {'F01'},
 '0000980': {'I70'},
 '0001134': {'I10'},
 '0001200': {'I15'},
 '0001302': {'I11'},
 '0001491': {'J45'},
 '0001815': {'G20'},
 '0001876': {'I70'},
 '0002275': {'I70'},
 '0002277': {'I70'},
 '0002679': {'I63'},
 '0004648': {'F01'},
 '0004765': {'J45'},
 '0004781': {'I21'},
 '0004784': {'J45'},
 '0004975': {'G30'},
 '0004979': {'J45'},
 '0005009': {'I50'},
 '0005010': {'I21', 'I22'},
 '0005015': {'E10', 'E11', 'E12', 'E13', 'E14'},
 '0005044': {'I10', 'I11', 'I12', 'I13', 'I15'},
 '0005068': {'I21', 'I22'},
 '0005071': {'G20', 'G30', 'G43'},
 '0005084': {'F00'},
 '0005147': {'E10'},
 '0005148': {'E11'},
 '0005180': {'G20'},
 '0005277': {'G43'},
 '0005311': {'I70'},
 '0005475': {'G43'},
 '0006044': {'I12'},
 '0006658': {'I70'},
 '0006716': {'I21', 'I22'},
 '0006727': {'I50'},
 '0006947': {'I15'},
 '0006993': {'I50'},
 '0007089': {'G30'},
 '0007432': {'F01'},
 '0007454': {'E10'},
 '0007669': {'E11'},
 '0007772': {'I15'},
 '0008071': {'I15'},
 '0008323': {'I15'},
 '0009101': {'E13'},
 '0009192': {'E13'},
 '0009830': {'G20'},
 '0009874': {'E13'},
 '0010482': {'G20'},
 '0010709': {'G20'},
 '0010785': {'E13'},
 '0010829': {'F01'},
 '0010861': {'E10'},
 '0010862': {'E10'},
 '0010863': {'E10'},
 '0010864': {'E10'},
 '0010950': {'E10'},
 '0010961': {'E66'},
 '0011016': {'E10'},
 '0011033': {'E10'},
 '0011057': {'I63', 'I64'},
 '0011068': {'E10'},
 '0011122': {'E66'},
 '0011123': {'E10'},
 '0011167': {'E10'},
 '0011168': {'E10'},
 '0011194': {'G30'},
 '0011302': {'E10'},
 '0011502': {'E13'},
 '0011517': {'I15'},
 '0011561': {'G30'},
 '0011562': {'G20'},
 '0011572': {'E10'},
 '0011647': {'G30'},
 '0011777': {'G30'},
 '0011847': {'G43'},
 '0012321': {'G30'},
 '0012335': {'E66'},
 '0012344': {'G30'},
 '0012422': {'E10'},
 '0012520': {'E13'},
 '0012609': {'G30'},
 '0012630': {'G30'},
 '0012631': {'G30'},
 '0012632': {'G30'},
 '0012919': {'E10'},
 '0012920': {'E10'},
 '0012921': {'E10'},
 '0012961': {'E10'},
 '0013078': {'E10'},
 '0013673': {'E13'},
 '0013777': {'I15'},
 '0013778': {'I15'},
 '0013781': {'I15'},
 '0013782': {'I15'},
 '0013991': {'E66'},
 '0013992': {'E66'},
 '0014231': {'G20'},
 '0014309': {'E66'},
 '0014768': {'F01'},
 '0014796': {'G20'},
 '0015140': {'G30'},
 '0015825': {'E66'},
 '0016464': {'E13'},
 '0017279': {'G20'},
 '0017636': {'G20'},
 '0017994': {'E66'},
 '0018105': {'E13'},
 '0018244': {'E66'},
 '0018321': {'G20'},
 '0018466': {'G20'},
 '0018585': {'I63'},
 '0018911': {'E11'},
 '0018925': {'G43'},
 '0019017': {'E13'},
 '0019115': {'E66'},
 '0019162': {'I15'},
 '0019182': {'E66'},
 '0019976': {'F01'},
 '0019977': {'G20'}}

In [92]:
print(dichti['0011057'])
print(dicht['0011057'])
print(att_id_to_id['0011057'])

['I64']
{'I63', 'I64'}
['I63', 'I64']