# Testing environment for DoSE

## Setup

### Load libraries

In [2]:
import pandas as pd
import numpy as np 
import gseapy
from biothings_client import get_client

### Define data

In [2]:
seeds_file = "Input/0007079.txt"
betweenness_file = "Input/0007079_added_200_dmd_betweenness_hub_0.01.txt"
significance_file = "Input/0007079_added_200_dmd_significance_hub_1.txt"
diseases_file = "Input/ICD10_commROCG_raw.txt"
disease_clusters_file = "Input/ICD10_commROCG_cluster.txt"

### Load data

In [3]:
disease_id = "0007079"
seeds = pd.read_csv(seeds_file, sep="\t", header=None)[0]
betweenness = pd.read_csv(betweenness_file, sep="\t")['node']
significance = pd.read_csv(significance_file, sep="\t")['node']
diseases = pd.read_csv(diseases_file, sep="\t", header=None)
disease_clusters = pd.read_csv(disease_clusters_file, sep="\t", header=None)

In [4]:
import timeit
start = timeit.default_timer()

stop = timeit.default_timer()
print('Time: ', stop - start)

Time:  4.699100099969655e-05

## Testing

In [4]:
import graph_tool as gt

In [5]:
g = gt.load_graph("../tmp-network.graphml")

FileNotFoundError: [Errno 2] No such file or directory: '../tmp-network.graphml'

In [6]:
g.vertex_properties["ID"][1]

NameError: name 'g' is not defined

In [21]:
full_list = list()
for v in g.vertices():
    neighbors = list()
    for n in v.out_neighbors():
        neighbors.append(g.vertex_properties["ID"][n])
    full_list.append([g.vertex_properties["ID"][v], neighbors, len(neighbors)])

In [26]:
pd.DataFrame(full_list, columns=["id", "neighbors", "degree"])

           id                                          neighbors  degree
0      P45985  [Q14315, Q12851, Q9UPT6, Q16584, Q9Y6R4, Q9Y2U...     458
1      Q14315  [Q92629, Q9NP98, Q9NZV8, Q9NPC6, Q8TDC0, Q86SQ...     417
2      P35609  [Q86TC9, Q12959, Q9NRI5, Q13224, Q9NP98, Q9UQP...     351
3      Q86TC9  [Q8WZ42, Q9H6A0, Q9NYZ3, Q92538, Q86TC9, Q969Q...     105
4      P49354  [Q04771, Q12974, Q9UBN7, P52735, P52630, Q1415...     100
...       ...                                                ...     ...
19597  Q6ZV50                                       [A0A087WXM9]       1
19598  B1AL88                                           [Q9UI14]       1
19599  P60606                                           [Q13585]       1
19600  Q6ZVK1                                           [Q9P2X0]       1
19601  P0DJ07                                           [P61601]       1

[19602 rows x 3 columns]

In [19]:
atts = pd.read_csv("../mapping_files/gene_att_mapping.csv", dtype="str").fillna("")
atts

,entrezgene,go.BP,go.CC,go.MF,pathway.kegg
0,106479672,,,,
1,100132723,,,,
2,421,GO:0016339;GO:0007155;GO:0098609;GO:0007043,GO:0005912;GO:0005886;GO:0005634;GO:0005737,GO:0045296;GO:0005515,
3,155060,,,,
4,106481177,,,,
...,...,...,...,...,...
61638,113002594,,,,
61639,105375733,,,,
61640,643014,,,,
61641,100188748,,,,
61642,100126447,,,,

In [16]:
def count_values(x):
    if x == "":
        return 0
    return len(x.split(";"))

In [42]:
att_len = atts.copy()
term = "sum"
att_len[att_len.columns[1:]] = att_len[att_len.columns[1:]].applymap(count_values)
att_len['sum'] = att_len[att_len.columns[1:]].sum(axis=1)
tmp = pd.DataFrame(att_len[term].value_counts()).sort_index().to_dict()[term]
att_len = att_len.sort_values(by=[term]).reset_index(drop=True)
att_len

      entrezgene  go.BP  go.CC  go.MF  pathway.kegg  sum
0      106479672      0      0      0             0    0
1      113875023      0      0      0             0    0
2         442864      0      0      0             0    0
3         267015      0      0      0             0    0
4      107986879      0      0      0             0    0
...          ...    ...    ...    ...           ...  ...
61638       6714    116     22     27            38  203
61639       7157    118     18     38            49  223
61640       1499    140     43     21            30  234
61641        207    131     15     17            94  257
61642       7124    182     10      6            65  263

[61643 rows x 6 columns]

In [43]:
tmp

{0: 40841,
 1: 1054,
 2: 1202,
 3: 812,
 4: 807,
 5: 898,
 6: 1104,
 7: 1221,
 8: 1037,
 9: 987,
 10: 889,
 11: 895,
 12: 735,
 13: 710,
 14: 680,
 15: 624,
 16: 557,
 17: 542,
 18: 465,
 19: 461,
 20: 415,
 21: 359,
 22: 320,
 23: 304,
 24: 249,
 25: 264,
 26: 213,
 27: 203,
 28: 180,
 29: 203,
 30: 144,
 31: 139,
 32: 115,
 33: 122,
 34: 83,
 35: 103,
 36: 76,
 37: 87,
 38: 78,
 39: 94,
 40: 74,
 41: 73,
 42: 59,
 43: 47,
 44: 48,
 45: 46,
 46: 43,
 47: 42,
 48: 63,
 49: 35,
 50: 36,
 51: 32,
 52: 27,
 53: 30,
 54: 29,
 55: 27,
 56: 19,
 57: 23,
 58: 29,
 59: 25,
 60: 28,
 61: 20,
 62: 28,
 63: 16,
 64: 16,
 65: 14,
 66: 11,
 67: 18,
 68: 19,
 69: 14,
 70: 15,
 71: 13,
 72: 18,
 73: 9,
 74: 12,
 75: 11,
 76: 17,
 77: 6,
 78: 5,
 79: 7,
 80: 12,
 81: 8,
 82: 9,
 83: 8,
 84: 8,
 85: 5,
 86: 13,
 87: 6,
 88: 4,
 89: 3,
 90: 10,
 91: 5,
 92: 7,
 93: 8,
 94: 7,
 95: 1,
 96: 3,
 97: 4,
 98: 2,
 99: 7,
 100: 7,
 101: 4,
 102: 3,
 103: 3,
 104: 4,
 105: 7,
 106: 4,
 107: 4,
 108: 3,
 109: 2,
 110: 5,
 111: 1,
 112: 4,
 113: 3,
 115: 1,
 116: 1,
 117: 2,
 118: 1,
 119: 2,
 120: 4,
 121: 4,
 122: 1,
 123: 4,
 124: 1,
 125: 1,
 126: 1,
 127: 1,
 128: 2,
 129: 1,
 130: 1,
 131: 1,
 132: 2,
 134: 3,
 135: 1,
 136: 1,
 137: 2,
 139: 1,
 141: 2,
 142: 1,
 143: 1,
 144: 2,
 145: 3,
 146: 1,
 148: 1,
 149: 3,
 150: 2,
 152: 2,
 153: 1,
 154: 1,
 155: 1,
 156: 3,
 157: 1,
 167: 1,
 168: 1,
 171: 1,
 172: 2,
 174: 2,
 176: 2,
 179: 2,
 180: 1,
 191: 1,
 198: 1,
 203: 1,
 223: 1,
 234: 1,
 257: 1,
 263: 1}

In [41]:
att_len[term].unique().tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 134,
 135,
 136,
 137,
 139,
 141,
 142,
 143,
 144,
 145,
 146,
 148,
 149,
 150,
 152,
 153,
 154,
 155,
 156,
 157,
 167,
 168,
 171,
 172,
 174,
 176,
 179,
 180,
 191,
 198,
 203,
 223,
 234,
 257,
 263]

In [58]:
threshold = 100
new_dict = dict()
curr_keys = list()
term_sizes = att_len[term].unique().tolist()
for index, key in enumerate(term_sizes):
    curr_keys = [key]
    if tmp[key] < threshold:   
        sum_tmp, add_top, add_bottom = tmp[key], index, index
        while sum_tmp < threshold:
            if add_top-1 >= 0:
                add_top = add_top-1
                sum_tmp = sum_tmp+tmp[term_sizes[add_top]]
                curr_keys.append(term_sizes[add_top])
            if add_bottom+1 < len(term_sizes):
                add_bottom = add_bottom+1
                sum_tmp = sum_tmp+tmp[term_sizes[add_bottom]]
                curr_keys.append(term_sizes[add_bottom])
    ids = att_len[att_len[term]==key]['entrezgene']
    for cur_id in ids:
        new_dict[cur_id] = curr_keys

In [59]:
new_dict['7124']

[263,
 257,
 234,
 223,
 203,
 198,
 191,
 180,
 179,
 176,
 174,
 172,
 171,
 168,
 167,
 157,
 156,
 155,
 154,
 153,
 152,
 150,
 149,
 148,
 146,
 145,
 144,
 143,
 142,
 141,
 139,
 137,
 136,
 135,
 134,
 132,
 131,
 130,
 129,
 128,
 127,
 126,
 125,
 124,
 123,
 122,
 121,
 120,
 119,
 118,
 117,
 116,
 115,
 113,
 112,
 111,
 110,
 109,
 108]