# Testing environment for DoSE

## Setup

### Load libraries

In [1]:
import pandas as pd
import numpy as np 
import gseapy
from biothings_client import get_client

### Define data

In [2]:
seeds_file = "Input/0007079.txt"
betweenness_file = "Input/0007079_added_200_dmd_betweenness_hub_0.01.txt"
significance_file = "Input/0007079_added_200_dmd_significance_hub_1.txt"
diseases_file = "Input/ICD10_commROCG_raw.txt"
disease_clusters_file = "Input/ICD10_commROCG_cluster.txt"

### Load data

In [3]:
disease_id = "0007079"
seeds = pd.read_csv(seeds_file, sep="\t", header=None)[0]
betweenness = pd.read_csv(betweenness_file, sep="\t")['node']
significance = pd.read_csv(significance_file, sep="\t")['node']
diseases = pd.read_csv(diseases_file, sep="\t", header=None)
disease_clusters = pd.read_csv(disease_clusters_file, sep="\t", header=None)

In [4]:
import timeit
start = timeit.default_timer()

stop = timeit.default_timer()
print('Time: ', stop - start)

Time:  4.699100099969655e-05

## Network from NeDReX

In [44]:
from urllib import request, parse
import json

In [45]:
url = 'https://api.nedrex.net/graph_builder'

In [46]:
myobj = {
    "nodes":["protein"],
    "edges":["protein_interacts_with_protein"],
    "iid_evidence":["exp"],
    "ppi_self_loops": True,
    "taxid":[9606],
    "concise": True,
    "include_omim": True,
    "disgenet_threshold": 0,
    "use_omim_ids": False,
}

In [47]:
data = json.dumps(myobj).encode('utf8')
req =  request.Request(url, data=data) # this will make the method "POST"
resp = request.urlopen(req)

In [48]:
print(resp.read().decode('utf8'))

"e1e15418-2c09-4c9e-8ad5-ed02aed4d5a8"

## Enriched gene values

In [4]:
import gseapy

In [9]:
ID_TYPE_KEY = {'entrez': 'entrezgene', 'ensembl': 'ensembl.gene', 'symbol': 'symbol', 'uniprot': 'uniprot.Swiss-Prot'}

In [51]:
ENRICH_KEY = {'GO_Molecular_Function_2015':'go.MF', 'GO_Biological_Process_2015':'go.BP', 'GO_Cellular_Component_2015':'go.CC', 'KEGG_2016':'pathway.kegg'}

In [5]:
seeds

0    P28223
1    P00325
2    P00326
3    P47869
Name: 0, dtype: object

In [8]:
gene_id_mapping = pd.read_csv("../mapping_files/gene_id_mapping.csv")
gene_id_mapping.head(5)

   entrezgene    symbol uniprot.Swiss-Prot     ensembl.gene
0           1      A1BG             P04217  ENSG00000121410
1           2       A2M             P01023  ENSG00000175899
2           9      NAT1             P18440  ENSG00000171428
3          10      NAT2             P11245  ENSG00000156006
4          12  SERPINA3             P01011  ENSG00000196136

In [11]:
gene_id_mapping[gene_id_mapping[ID_TYPE_KEY['uniprot']].isin(seeds)]['symbol']

73       ADH1B
74       ADH1C
1502    GABRA2
1924     HTR2A
Name: symbol, dtype: object

In [30]:
enrichr_df_target = gseapy.enrichr(gene_list=list(gene_id_mapping[gene_id_mapping[ID_TYPE_KEY['uniprot']].isin(seeds)]['symbol']),
                                               description='atts',
                                               gene_sets=list(ENRICH_KEY.keys()),
                                               cutoff=0.05).results
enrichr_df_target = enrichr_df_target[enrichr_df_target['Adjusted P-value'] < 0.05]
enrichr_df_target

2021-12-13 09:23:51,605 Warning: No enrich terms using library GO_Cellular_Component_2015 when cutoff = 0.05

,Gene_set,Term,Overlap,P-value,Adjusted P-value,Old P-value,Old Adjusted P-value,Odds Ratio,Combined Score,Genes
0,GO_Molecular_Function_2015,alcohol dehydrogenase (NAD) activity (GO:0004022),2/8,8.396276e-07,0.000022,0,0,3331.666667,46611.040785,ADH1C;ADH1B
1,GO_Molecular_Function_2015,"oxidoreductase activity, acting on the CH-OH g...",2/115,1.951745e-04,0.002195,0,0,175.955752,1502.946605,ADH1C;ADH1B
2,GO_Molecular_Function_2015,"oxidoreductase activity, acting on CH-OH group...",2/131,2.532625e-04,0.002195,0,0,154.007752,1275.351143,ADH1C;ADH1B
3,GO_Molecular_Function_2015,serotonin binding (GO:0051378),1/8,1.599128e-03,0.009354,0,0,951.857143,6128.338527,HTR2A
4,GO_Molecular_Function_2015,amine binding (GO:0043176),1/9,1.798886e-03,0.009354,0,0,832.833333,5263.996189,HTR2A
...,...,...,...,...,...,...,...,...,...,...
189,KEGG_2016,Inflammatory mediator regulation of TRP channe...,1/98,1.945771e-02,0.023521,0,0,68.381443,269.389509,HTR2A
190,KEGG_2016,Retrograde endocannabinoid signaling Homo sapi...,1/101,2.004884e-02,0.023521,0,0,66.320000,259.283608,GABRA2
191,KEGG_2016,Metabolic pathways Homo sapiens hsa01100,2/1239,2.115550e-02,0.023521,0,0,15.164915,58.473719,ADH1C;ADH1B
192,KEGG_2016,Serotonergic synapse Homo sapiens hsa04726,1/112,2.221403e-02,0.023521,0,0,59.714715,227.335771,HTR2A
193,KEGG_2016,Calcium signaling pathway Homo sapiens hsa04020,1/180,3.551934e-02,0.035519,0,0,36.903166,123.170886,HTR2A

In [31]:
enrichr_df_target[enrichr_df_target["Gene_set"]=="KEGG_2016"]["Term"]

176            Tyrosine metabolism Homo sapiens hsa00350
177         Fatty acid degradation Homo sapiens hsa00071
178             Retinol metabolism Homo sapiens hsa00830
179    Glycolysis / Gluconeogenesis Homo sapiens hsa0...
180    Drug metabolism - cytochrome P450 Homo sapiens...
181    Metabolism of xenobiotics by cytochrome P450 H...
182        Chemical carcinogenesis Homo sapiens hsa05204
183    Neuroactive ligand-receptor interaction Homo s...
184             Nicotine addiction Homo sapiens hsa05033
185             Taste transduction Homo sapiens hsa04742
186              GABAergic synapse Homo sapiens hsa04727
187                   Gap junction Homo sapiens hsa04540
188             Morphine addiction Homo sapiens hsa05032
189    Inflammatory mediator regulation of TRP channe...
190    Retrograde endocannabinoid signaling Homo sapi...
191             Metabolic pathways Homo sapiens hsa01100
192           Serotonergic synapse Homo sapiens hsa04726
193      Calcium signaling pathway Homo sapiens hsa04020
Name: Term, dtype: object

In [37]:
if len(enrichr_df_target) > 0:
        enrichr_df_target.insert(2, 'Term_ID', enrichr_df_target['Term'].str.extract(r'(GO:[0-9]*|hsa[0-9]*)')[0])

In [50]:
pivot = enrichr_df_target[['Gene_set','Term_ID']].pivot(columns='Gene_set')
pivot['Term_ID']

Gene_set GO_Biological_Process_2015 GO_Molecular_Function_2015 KEGG_2016
0                               NaN                 GO:0004022       NaN
1                               NaN                 GO:0016616       NaN
2                               NaN                 GO:0016614       NaN
3                               NaN                 GO:0051378       NaN
4                               NaN                 GO:0043176       NaN
..                              ...                        ...       ...
189                             NaN                        NaN  hsa04750
190                             NaN                        NaN  hsa04723
191                             NaN                        NaN  hsa01100
192                             NaN                        NaN  hsa04726
193                             NaN                        NaN  hsa04020

[127 rows x 3 columns]

In [49]:
set(pivot['Term_ID']['KEGG_2016'].dropna())

{'hsa00010',
 'hsa00071',
 'hsa00350',
 'hsa00830',
 'hsa00980',
 'hsa00982',
 'hsa01100',
 'hsa04020',
 'hsa04080',
 'hsa04540',
 'hsa04723',
 'hsa04726',
 'hsa04727',
 'hsa04742',
 'hsa04750',
 'hsa05032',
 'hsa05033',
 'hsa05204'}

In [54]:
dicto = dict()
for key in ENRICH_KEY.keys():
    if key in pivot['Term_ID']:
        dicto[ENRICH_KEY[key]] = set(pivot['Term_ID'][key].dropna())
    else:
        dicto[ENRICH_KEY[key]] = set()
dicto

{'go.MF': {'GO:0001965',
  'GO:0004022',
  'GO:0004890',
  'GO:0004993',
  'GO:0005230',
  'GO:0005253',
  'GO:0005254',
  'GO:0008144',
  'GO:0008227',
  'GO:0008270',
  'GO:0015103',
  'GO:0015108',
  'GO:0015276',
  'GO:0016614',
  'GO:0016616',
  'GO:0016917',
  'GO:0022834',
  'GO:0030594',
  'GO:0043176',
  'GO:0051378'},
 'go.BP': {'GO:0001505',
  'GO:0001659',
  'GO:0003013',
  'GO:0003018',
  'GO:0006066',
  'GO:0006067',
  'GO:0006069',
  'GO:0006109',
  'GO:0006110',
  'GO:0006805',
  'GO:0006821',
  'GO:0006836',
  'GO:0006939',
  'GO:0007200',
  'GO:0007202',
  'GO:0007204',
  'GO:0007210',
  'GO:0007214',
  'GO:0007268',
  'GO:0007613',
  'GO:0009266',
  'GO:0010517',
  'GO:0010518',
  'GO:0010675',
  'GO:0010676',
  'GO:0010863',
  'GO:0014059',
  'GO:0014065',
  'GO:0014820',
  'GO:0014824',
  'GO:0014829',
  'GO:0014848',
  'GO:0015698',
  'GO:0016048',
  'GO:0019229',
  'GO:0030431',
  'GO:0030534',
  'GO:0032845',
  'GO:0034308',
  'GO:0035150',
  'GO:0042220',
  'GO:0042310',
  'GO:0043266',
  'GO:0043267',
  'GO:0043271',
  'GO:0043279',
  'GO:0043467',
  'GO:0043470',
  'GO:0043471',
  'GO:0044380',
  'GO:0045821',
  'GO:0045834',
  'GO:0045907',
  'GO:0045913',
  'GO:0046889',
  'GO:0046890',
  'GO:0048015',
  'GO:0048017',
  'GO:0048148',
  'GO:0048871',
  'GO:0050433',
  'GO:0050731',
  'GO:0050795',
  'GO:0050805',
  'GO:0050880',
  'GO:0050961',
  'GO:0050965',
  'GO:0050974',
  'GO:0050982',
  'GO:0051209',
  'GO:0051282',
  'GO:0051283',
  'GO:0051952',
  'GO:0051966',
  'GO:0051967',
  'GO:0060191',
  'GO:0060193',
  'GO:0060359',
  'GO:0060401',
  'GO:0060402',
  'GO:0070372',
  'GO:0070374',
  'GO:0071071',
  'GO:0098661',
  'GO:1900274',
  'GO:1901615',
  'GO:1902476',
  'GO:1903524',
  'GO:2000021'},
 'go.CC': set(),
 'pathway.kegg': {'hsa00010',
  'hsa00071',
  'hsa00350',
  'hsa00830',
  'hsa00980',
  'hsa00982',
  'hsa01100',
  'hsa04020',
  'hsa04080',
  'hsa04540',
  'hsa04723',
  'hsa04726',
  'hsa04727',
  'hsa04742',
  'hsa04750',
  'hsa05032',
  'hsa05033',
  'hsa05204'}}

In [ ]:
import timeit
start = timeit.default_timer()

stop = timeit.default_timer()
print('Time: ', stop - start)

In [3]:
disease_mapping = pd.read_csv('https://www.disgenet.org/static/disgenet_ap1/files/downloads/disease_mappings.tsv.gz',compression='gzip', sep='\t')
disease_mapping

,diseaseId,name,vocabulary,code,vocabularyName
0,C0018923,Hemangiosarcoma,DO,0001816,angiosarcoma
1,C0854893,Angiosarcoma non-metastatic,DO,0001816,angiosarcoma
2,C0033999,Pterygium,DO,0002116,pterygium
3,C0025517,Metabolic Diseases,DO,0014667,disease of metabolism
4,C0155862,Streptococcal pneumonia,DO,0040084,Streptococcus pneumonia
...,...,...,...,...,...
242884,C0279628,Adenocarcinoma Of Esophagus,ORDO,99976,Adenocarcinoma of the esophagus
242885,C0279626,Squamous cell carcinoma of esophagus,ORDO,99977,Squamous cell carcinoma of the esophagus
242886,C0206702,Klatskin Tumor,ORDO,99978,Klatskin tumor
242887,C0007462,Causalgia,ORDO,99994,Complex regional pain syndrome type 2
242888,C0034931,Reflex Sympathetic Dystrophy,ORDO,99995,Complex regional pain syndrome type 1

In [4]:
disease_var_mapping = pd.read_csv('https://www.disgenet.org/static/disgenet_ap1/files/downloads/all_variant_disease_associations.tsv.gz', compression='gzip', sep='\t', dtype=str)
disease_gene_mapping = pd.read_csv('https://www.disgenet.org/static/disgenet_ap1/files/downloads/all_gene_disease_associations.tsv.gz', compression='gzip', sep='\t', dtype=str)
disease_gene_mapping

,geneId,geneSymbol,DSI,DPI,diseaseId,diseaseName,diseaseType,diseaseClass,diseaseSemanticType,score,EI,YearInitial,YearFinal,NofPmids,NofSnps,source
0,1,A1BG,0.7,0.538,C0001418,Adenocarcinoma,group,C04,Neoplastic Process,0.01,1,2008,2008,1,0,LHGDN
1,1,A1BG,0.7,0.538,C0002736,Amyotrophic Lateral Sclerosis,disease,C18;C10,Disease or Syndrome,0.01,1,2008,2008,1,0,BEFREE
2,1,A1BG,0.7,0.538,C0003578,Apnea,phenotype,C23;C08,Sign or Symptom,0.01,1,2017,2017,1,0,BEFREE
3,1,A1BG,0.7,0.538,C0003864,Arthritis,disease,C05,Disease or Syndrome,0.01,1,2019,2019,1,0,BEFREE
4,1,A1BG,0.7,0.538,C0008373,Cholesteatoma,disease,C17,Disease or Syndrome,0.01,1,2020,2020,1,0,BEFREE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134937,115804232,CEROX1,NaN,NaN,C0005890,Body Height,phenotype,NaN,Organism Attribute,0.10,1,2019,2019,1,0,GWASCAT
1134938,115891964,MIR223HG,0.861,0.077,C0023418,leukemia,disease,C04,Neoplastic Process,0.01,1,2016,2016,1,0,BEFREE
1134939,115891964,MIR223HG,0.861,0.077,C0023467,"Leukemia, Myelocytic, Acute",disease,C04,Neoplastic Process,0.01,1,2016,2016,1,0,BEFREE
1134940,115891964,MIR223HG,0.861,0.077,C0598766,Leukemogenesis,disease,C23;C04,Neoplastic Process,0.01,1,2016,2016,1,0,BEFREE
1134941,115891964,MIR223HG,0.861,0.077,C1332977,Childhood Leukemia,disease,C04,Neoplastic Process,0.01,1,2016,2016,1,0,BEFREE

In [5]:
mondo_mapping = disease_mapping[disease_mapping['vocabulary']=='MONDO']
mondo_mapping

,diseaseId,name,vocabulary,code,vocabularyName
56511,C0022661,"Kidney Failure, Chronic",MONDO,0000001,disease or disorder
56512,C0405580,Adrenal cortical hypofunction,MONDO,0000004,adrenocortical insufficiency
56513,C0001623,Adrenal gland hypofunction,MONDO,0000004,adrenocortical insufficiency
56514,C1859877,Alopecia universalis congenita,MONDO,0000005,"alopecia, isolated"
56515,C0005129,Bernard-Soulier Syndrome,MONDO,0000009,"inherited bleeding disorder, platelet-type"
...,...,...,...,...,...
75018,C0002792,anaphylaxis,MONDO,0100053,anaphylaxis
75019,C0413235,Idiopathic anaphylaxis,MONDO,0100054,idiopathic anaphylaxis
75020,C0851578,Sleep Disorders,MONDO,0100081,sleep disorder
75021,C0175704,LEOPARD Syndrome,MONDO,0100082,LEOPARD syndrome 1
75022,C4551484,Leopard Syndrome 1,MONDO,0100082,LEOPARD syndrome 1

In [6]:
len(mondo_mapping['diseaseId'].unique())

13291

In [7]:
var_mapping = pd.merge(mondo_mapping[['diseaseId','code']], disease_var_mapping[['diseaseId','snpId']], on="diseaseId", how="left")
var_mapping = var_mapping.rename(columns={'code':'mondo', 'snpId':'variant'})
var_mapping = var_mapping[['mondo','variant']].fillna('').groupby(['mondo'], as_index=False).agg(combine_rows)
var_mapping

         mondo                                            variant
0      0000001  {rs149454410, rs686548, rs112407915, rs1145077...
1      0000004  {rs104894897, rs6161, rs1564421528, rs14543280...
2      0000005  {rs773764015, rs7014851, rs121434451, rs121434...
3      0000009  {rs121908065, rs267606849, rs28933377, rs12190...
4      0000022                                           {rs6313}
...        ...                                                ...
12349  0100039  {rs121918792, rs121918622, rs727504136, rs7960...
12350  0100053    {rs121913507, rs121913682, rs699, rs1267969615}
12351  0100054                         {rs121913507, rs121913682}
12352  0100081  {rs1481318368, rs104893877, rs1044396, rs20325...
12353  0100082  {rs80338799, rs397507545, rs121918470, rs12191...

[12354 rows x 2 columns]

In [8]:
gene_mapping = pd.merge(mondo_mapping[['diseaseId','code']], disease_gene_mapping[['diseaseId','geneId']], on="diseaseId", how="left")
gene_mapping = gene_mapping.rename(columns={'code':'mondo', 'geneId':'entrezgene'})
gene_mapping = gene_mapping[['mondo','entrezgene']].fillna('').groupby(['mondo'], as_index=False).agg(combine_rows)
gene_mapping

         mondo                                         entrezgene
0      0000001  {     2717,       147,      4179,     55349,  ...
1      0000004  {     2908,    338433,      6770,     55703,  ...
2      0000005                                        {    55806}
3      0000009  {     8013,     80739,      2335,      1950,  ...
4      0000022  {      278,     51540,     54796,      1326,  ...
...        ...                                                ...
12349  0100039  {    57468,    112476,      2563,      3785,  ...
12350  0100053  {     6007,      1773,       196,     27349,  ...
12351  0100054                                        {     3815}
12352  0100081  {   148789,     10482,      7167,      7068,  ...
12353  0100082  {     3845,     54997,       207,      4893,  ...

[12354 rows x 2 columns]

In [2]:
def combine_rows(x):
    return set(filter(None, ';'.join(x).split(';')))

In [21]:
temp = pd.merge(var_mapping[['mondo','variant']], gene_mapping[['mondo','entrezgene']], on="mondo", how="outer")
temp

,mondo,variant,entrezgene
0,0000001,"{rs149454410, rs686548, rs112407915, rs1145077...","{ 2717, 147, 4179, 55349, ..."
1,0000004,"{rs104894897, rs6161, rs1564421528, rs14543280...","{ 2908, 338433, 6770, 55703, ..."
2,0000005,"{rs773764015, rs7014851, rs121434451, rs121434...",{ 55806}
3,0000009,"{rs121908065, rs267606849, rs28933377, rs12190...","{ 8013, 80739, 2335, 1950, ..."
4,0000022,{rs6313},"{ 278, 51540, 54796, 1326, ..."
...,...,...,...
12349,0100039,"{rs121918792, rs121918622, rs727504136, rs7960...","{ 57468, 112476, 2563, 3785, ..."
12350,0100053,"{rs121913507, rs121913682, rs699, rs1267969615}","{ 6007, 1773, 196, 27349, ..."
12351,0100054,"{rs121913507, rs121913682}",{ 3815}
12352,0100081,"{rs1481318368, rs104893877, rs1044396, rs20325...","{ 148789, 10482, 7167, 7068, ..."
12353,0100082,"{rs80338799, rs397507545, rs121918470, rs12191...","{ 3845, 54997, 207, 4893, ..."

In [22]:
omim_to_hsa = pd.read_csv('http://rest.genome.jp/link/omim/hsa', names=['hsa','omim','dir'], sep="\t", dtype=str)
omim_to_hsa

            hsa         omim         dir
0         hsa:1  omim:138670  equivalent
1        hsa:10  omim:243400     reverse
2        hsa:10  omim:612182  equivalent
3       hsa:100  omim:102700     reverse
4       hsa:100  omim:608958  equivalent
...         ...          ...         ...
22935  hsa:9993  omim:600594  equivalent
22936  hsa:9994  omim:606880  equivalent
22937  hsa:9997  omim:604272  equivalent
22938  hsa:9997  omim:604377     reverse
22939  hsa:9997  omim:608908     reverse

[22940 rows x 3 columns]

In [23]:
hsa_to_pathway = pd.read_csv('http://rest.kegg.jp/link/pathway/hsa', names=['hsa','pathway'], sep="\t", dtype=str)
hsa_to_pathway

             hsa        pathway
0      hsa:10327  path:hsa00010
1        hsa:124  path:hsa00010
2        hsa:125  path:hsa00010
3        hsa:126  path:hsa00010
4        hsa:127  path:hsa00010
...          ...            ...
35372  hsa:91860  path:hsa05418
35373     hsa:92  path:hsa05418
35374     hsa:93  path:hsa05418
35375   hsa:9446  path:hsa05418
35376   hsa:9817  path:hsa05418

[35377 rows x 2 columns]

In [24]:
omim_to_pathway = pd.merge(omim_to_hsa[['hsa','omim']], hsa_to_pathway[['hsa','pathway']], on="hsa", how="inner")[['omim','pathway']]
omim_to_pathway.omim = omim_to_pathway.omim.str.replace('omim:','')
omim_to_pathway.pathway = omim_to_pathway.pathway.str.replace('path:','')
omim_to_pathway

         omim   pathway
0      243400  hsa00232
1      243400  hsa00983
2      243400  hsa01100
3      243400  hsa05204
4      612182  hsa00232
...       ...       ...
66037  611493  hsa04971
66038  613693  hsa04971
66039  604272  hsa05230
66040  604377  hsa05230
66041  608908  hsa05230

[66042 rows x 2 columns]

In [25]:
disease_ids = pd.read_csv('../mapping_files/disease_id_mapping.csv', dtype=str)
disease_ids

,mondo,omim,snomedct,umls,orpha,mesh,doid,ICD-10
0,0002974,603956,363354003,NaN,NaN,NaN,4362,"C53,C53.9"
1,0000311,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0001642,NaN,1489008,C0019919,NaN,NaN,13134,"H00,H00.01,H00.03"
3,0000310,NaN,NaN,NaN,NaN,NaN,0050308,NaN
4,0001641,NaN,NaN,NaN,NaN,NaN,13129,NaN
...,...,...,...,...,...,...,...,...
24115,0019900,NaN,NaN,NaN,96160,NaN,NaN,"Q93,Q93.5"
24116,0019902,NaN,766716004,NaN,96168,NaN,NaN,"Q93,Q93.5"
24117,0019901,NaN,NaN,NaN,96164,NaN,NaN,"Q93,Q93.5"
24118,0007928,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24119,0007929,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
omim_to_pathway = pd.merge(disease_ids[['mondo','omim']], omim_to_pathway[['omim','pathway']], on="omim", how="inner")[['mondo','pathway']]
omim_to_pathway

         mondo   pathway
0      0002974  hsa01521
1      0002974  hsa04010
2      0002974  hsa04014
3      0002974  hsa04015
4      0002974  hsa04020
...        ...       ...
30067  0007932  hsa02010
30068  0007930  hsa04512
30069  0007930  hsa04611
30070  0007930  hsa04613
30071  0007930  hsa04640

[30072 rows x 2 columns]

In [27]:
omim_to_pathway = omim_to_pathway[['mondo','pathway']].fillna('').groupby(['mondo'], as_index=False).agg(combine_rows)
omim_to_pathway

        mondo                                            pathway
0     0000908  {hsa05412, hsa04390, hsa04670, hsa05226, hsa05...
1     0000909                                         {hsa04966}
2     0000914  {hsa05165, hsa05206, hsa01522, hsa05224, hsa05...
3     0001056  {hsa04390, hsa04930, hsa04934, hsa04152, hsa04...
4     0001187  {hsa04934, hsa05200, hsa04919, hsa04914, hsa04...
...       ...                                                ...
3565  0060764  {hsa05165, hsa04390, hsa05010, hsa05206, hsa04...
3566  0100082  {hsa04920, hsa05220, hsa04670, hsa05211, hsa04...
3567  0100083  {hsa05221, hsa04659, hsa05200, hsa05202, hsa04...
3568  0100104                               {hsa03013, hsa05014}
3569  0100105                     {hsa01100, hsa00310, hsa00514}

[3570 rows x 2 columns]

In [28]:
print(len(set(omim_to_pathway.mondo)))
print(len(set(temp.mondo)))
print(len(set(temp.mondo).intersection(set(omim_to_pathway.mondo))))

3570
12354
3279

In [29]:
old = pd.read_csv('../mapping_files/disease_att_mapping.csv', dtype=str)
old

,mondo,disgenet.genes_related_to_disease,ctd.pathway_related_to_disease,disgenet.variants_related_to_disease
0,0016135,NaN,NaN,NaN
1,0019449,NaN,NaN,NaN
2,0044014,5536;5538;7173;140805;3111;6863;5617;1493;629;...,NaN,rs231775
3,0022733,NaN,NaN,NaN
4,0010674,3423.0,hsa_M00076;hsa_M00078;hsa01100;hsa00531;hsa041...,NaN
...,...,...,...,...
24662,0014805,7874.0,hsa04068;hsa05169;hsa05203,NaN
24663,0032894,NaN,NaN,NaN
24664,0002087,3586;3845;3082;1429;1048;284;672;675;5670;5529...,NaN,rs28897672
24665,0019373,2308;2313;1674;2314;10763;3600;3480;100124696;...,NaN,NaN
24666,0001171,NaN,NaN,NaN

In [30]:
old = old[['mondo','ctd.pathway_related_to_disease']].dropna()

In [31]:
print(len(set(old.mondo).intersection(set(omim_to_pathway.mondo))))

3563

In [32]:
len(old)

5317

In [42]:
new_set = set(old.mondo) - set(old.mondo).intersection(set(omim_to_pathway.mondo))

In [43]:
new_set

{'0010091',
 '0016239',
 '0005828',
 '0021697',
 '0001150',
 '0017775',
 '0005440',
 '0004993',
 '0006774',
 '0015517',
 '0005066',
 '0019050',
 '0001347',
 '0002269',
 '0007179',
 '0015280',
 '0006541',
 '0001741',
 '0043472',
 '0002245',
 '0005477',
 '0002909',
 '0011827',
 '0043523',
 '0004849',
 '0005837',
 '0005885',
 '0005345',
 '0021085',
 '0002917',
 '0006564',
 '0018105',
 '0018829',
 '0012589',
 '0006714',
 '0006115',
 '0009832',
 '0018479',
 '0003947',
 '0005218',
 '0043243',
 '0006690',
 '0005314',
 '0003329',
 '0006663',
 '0005091',
 '0006939',
 '0016390',
 '0009441',
 '0003240',
 '0010787',
 '0005357',
 '0015545',
 '0000728',
 '0006642',
 '0002520',
 '0007778',
 '0008429',
 '0001085',
 '0002036',
 '0005517',
 '0001076',
 '0016466',
 '0016642',
 '0024575',
 '0002123',
 '0004922',
 '0018838',
 '0002492',
 '0016013',
 '0011669',
 '0005377',
 '0001476',
 '0005335',
 '0006715',
 '0002363',
 '0002869',
 '0005649',
 '0016296',
 '0019297',
 '0003225',
 '0007034',
 '0006716',
 '0021071',
 '0021074',
 '0018634',
 '0006757',
 '0025420',
 '0016826',
 '0005775',
 '0018973',
 '0005620',
 '0005542',
 '0018570',
 '0005326',
 '0018661',
 '0002144',
 '0007004',
 '0005556',
 '0009044',
 '0018935',
 '0002441',
 '0005129',
 '0004389',
 '0008564',
 '0002247',
 '0004577',
 '0021679',
 '0019072',
 '0016264',
 '0006678',
 '0009723',
 '0005394',
 '0007893',
 '0005252',
 '0021073',
 '0010030',
 '0036688',
 '0005567',
 '0002078',
 '0004180',
 '0005429',
 '0006807',
 '0016238',
 '0005280',
 '0006679',
 '0021113',
 '0016817',
 '0020689',
 '0005043',
 '0010811',
 '0001164',
 '0006574',
 '0011989',
 '0043510',
 '0018805',
 '0007016',
 '0015991',
 '0006901',
 '0018166',
 '0005814',
 '0006932',
 '0005260',
 '0002243',
 '0005501',
 '0001358',
 '0019609',
 '0012969',
 '0005141',
 '0007147',
 '0001577',
 '0016971',
 '0006951',
 '0018027',
 '0005201',
 '0018902',
 '0002497',
 '0000328',
 '0006566',
 '0005569',
 '0002177',
 '0021117',
 '0018063',
 '0003969',
 '0005134',
 '0021400',
 '0005385',
 '0011910',
 '0003847',
 '0008338',
 '0005203',
 '0002532',
 '0002545',
 '0007671',
 '0018882',
 '0004691',
 '0004952',
 '0006026',
 '0005399',
 '0005193',
 '0005096',
 '0005623',
 '0001761',
 '0006846',
 '0019052',
 '0003150',
 '0018953',
 '0001478',
 '0001356',
 '0015912',
 '0002165',
 '0002562',
 '0006769',
 '0006795',
 '0018493',
 '0010188',
 '0004948',
 '0017795',
 '0017410',
 '0016619',
 '0001549',
 '0016982',
 '0015798',
 '0021104',
 '0002249',
 '0016755',
 '0015626',
 '0005283',
 '0019091',
 '0016367',
 '0001836',
 '0002427',
 '0023119',
 '0002635',
 '0001711',
 '0002145',
 '0005380',
 '0012727',
 '0012061',
 '0004580',
 '0001402',
 '0005181',
 '0019934',
 '0008327',
 '0021678',
 '0018998',
 '0020077',
 '0018896',
 '0004970',
 '0001117',
 '0015909',
 '0019567',
 '0005271',
 '0005080',
 '0005618',
 '0003634',
 '0013213',
 '0021187',
 '0005231',
 '0016677',
 '0006032',
 '0000816',
 '0011662',
 '0016241',
 '0016068',
 '0006682',
 '0005351',
 '0001324',
 '0019254',
 '0006644',
 '0005002',
 '0004822',
 '0044745',
 '0005959',
 '0006875',
 '0004876',
 '0021720',
 '0004997',
 '0001807',
 '0007761',
 '0000594',
 '0003381',
 '0015253',
 '0004743',
 '0005516',
 '0018912',
 '0002695',
 '0006825',
 '0013280',
 '0006804',
 '0021979',
 '0000425',
 '0004298',
 '0003014',
 '0001612',
 '0005139',
 '0005041',
 '0018840',
 '0001341',
 '0002367',
 '0020088',
 '0001657',
 '0016140',
 '0005266',
 '0016537',
 '0006933',
 '0006874',
 '0007729',
 '0013209',
 '0002305',
 '0005078',
 '0002282',
 '0016620',
 '0009924',
 '0016293',
 '0002884',
 '0002257',
 '0010004',
 '0011385',
 '0006858',
 '0018907',
 '0005071',
 '0005299',
 '0005167',
 '0021100',
 '0005070',
 '0001566',
 '0021178',
 '0002026',
 '0001475',
 '0007056',
 '0005229',
 '0010407',
 '0024945',
 '0002050',
 '0015104',
 '0020920',
 '0001083',
 '0005794',
 '0005023',
 '0003778',
 '0003397',
 '0003924',
 '0019303',
 '0019496',
 '0020528',
 '0005291',
 '0003406',
 '0005395',
 '0011144',
 '0000463',
 '0020128',
 '0000437',
 '0008608',
 '0018612',
 '0016512',
 '0043494',
 '0005371',
 '0003749',
 '0013098',
 '0003699',
 '0002887',
 '0006837',
 '0006896',
 '0018305',
 '0043280',
 '0018870',
 '0019933',
 '0024919',
 '0005062',
 '0004323',
 '0002071',
 '0003046',
 '0019019',
 '0017773',
 '0005354',
 '0011057',
 '0015285',
 '0007342',
 '0004983',
 '0000448',
 '0002146',
 '0005559',
 '0009945',
 '0018997',
 '0016028',
 '0005492',
 '0019287',
 '0044345',
 '0005446',
 '0009090',
 '0018116',
 '0017838',
 '0019188',
 '0004892',
 '0005859',
 '0019056',
 '0002025',
 '0015974',
 '0005058',
 '0002602',
 '0005098',
 '0004675',
 '0005292',
 '0005184',
 '0008863',
 '0043458',
 '0002009',
 '0004247',
 '0005626',
 '0008779',
 '0006827',
 '0001256',
 '0019624',
 '0021699',
 '0004946',
 '0004842',
 '0016695',
 '0005081',
 '0015263',
 '0002494',
 '0021367',
 '0005917',
 '0004941',
 '0008364',
 '0016830',
 '0019562',
 '0018075',
 '0002816',
 '0005287',
 '0016001',
 '0000211',
 '0024422',
 '0043579',
 '0005525',
 '0019350',
 '0017276',
 '0009049',
 '0014850',
 '0005531',
 '0006733',
 '0006525',
 '0006474',
 '0024644',
 '0000746',
 '0008675',
 '0019403',
 '0002692',
 '0014690',
 '0005527',
 '0006500',
 '0004979',
 '0005912',
 '0005902',
 '0003664',
 '0005530',
 '0005115',
 '0021129',
 '0015760',
 '0008159',
 '0001881',
 '0005324',
 '0009752',
 '0013028',
 '0000607',
 '0008371',
 '0015977',
 '0012802',
 '0011329',
 '0001734',
 '0001627',
 '0004995',
 '0006037',
 '0002921',
 '0018943',
 '0018872',
 '0019142',
 '0001386',
 '0000888',
 '0014524',
 '0000190',
 '0002643',
 '0000200',
 '0005148',
 '0019078',
 '0002462',
 '0015279',
 '0006781',
 '0016808',
 '0001684',
 '0018301',
 '0016643',
 '0009688',
 '0014190',
 '0000651',
 '0005841',
 '0002334',
 '0019065',
 '0005288',
 '0019293',
 '0019234',
 '0019959',
 '0011847',
 '0043726',
 '0044013',
 '0002708',
 '0006594',
 '0005105',
 '0005960',
 '0021223',
 '0015942',
 '0001676',
 '0019290',
 '0016085',
 '0000986',
 '0043789',
 '0003582',
 '0000839',
 '0008891',
 '0005416',
 '0002135',
 '0018076',
 '0003620',
 '0005030',
 '0002039',
 '0007477',
 '0018092',
 '0005374',
 '0019245',
 '0002400',
 '0003452',
 '0005510',
 '0005650',
 '0009934',
 '0001170',
 '0021181',
 '0009256',
 '0011378',
 '0015274',
 '0024355',
 '0018089',
 '0004976',
 '0005366',
 '0006732',
 '0001713',
 '0025483',
 '0005089',
 '0007896',
 '0019391',
 '0005068',
 '0005445',
 '0004750',
 '0006573',
 '0000709',
 '0015925',
 '0005691',
 '0006964',
 '0005348',
 '0016006',
 '0001126',
 '0002244',
 '0001835',
 '0001409',
 '0005003',
 '0004872',
 '0000845',
 '0007035',
 '0005086',
 '0006869',
 '0005133',
 '0005674',
 '0010179',
 '0005087',
 '0004681',
 '0004717',
 '0005570',
 '0006040',
 '0019499',
 '0018088',
 '0019701',
 '0005824',
 '0019174',
 '0005568',
 '0005590',
 '0004335',
 '0005359',
 '0044723',
 '0000831',
 '0004741',
 '0005060',
 '0001484',
 '0021004',
 '0006855',
 '0001071',
 '0004069',
 '0024291',
 '0001982',
 '0005100',
 '0000327',
 '0016333',
 '0004425',
 '0002076',
 '0003996',
 '0005797',
 '0006987',
 '0019040',
 '0002331',
 '0043797',
 '0018544',
 '0005076',
 '0005502',
 '0043373',
 '0001437',
 '0019087',
 '0005462',
 '0005712',
 '0005578',
 '0005862',
 '0006545',
 '0005344',
 '0013522',
 '0006468',
 '0019349',
 '0011457',
 '0019266',
 '0001243',
 '0005812',
 '0006058',
 '0018914',
 '0015194',
 '0020066',
 '0019210',
 '0005843',
 '0006543',
 '0004609',
 '0017979',
 '0005361',
 '0007827',
 '0008449',
 '0017953',
 '0003117',
 '0009351',
 '0001609',
 '0017576',
 '0004496',
 '0005093',
 '0003105',
 '0000775',
 '0004471',
 '0001516',
 '0021040',
 '0004802',
 '0001595',
 '0002381',
 '0005269',
 '0001297',
 '0018982',
 '0002356',
 '0000747',
 '0003425',
 '0019773',
 '0003783',
 '0008511',
 '0000409',
 '0016681',
 '0004669',
 '0008274',
 '0004985',
 '0025449',
 '0001220',
 '0020310',
 '0020573',
 '0012105',
 '0008283',
 '0007404',
 '0001941',
 '0007774',
 '0003233',
 '0004631',
 '0019248',
 '0005279',
 '0019571',
 '0008375',
 '0005311',
 '0000107',
 '0018910',
 '0001382',
 '0006589',
 '0010812',
 '0018638',
 '0005689',
 '0005401',
 '0018149',
 '0006036',
 '0000942',
 '0005233',
 '0008599',
 '0005046',
 '0005447',
 '0008733',
 '0005754',
 '0018309',
 '0008797',
 '0025370',
 '0018234',
 '0018875',
 '0029000',
 '0008223',
 '0019664',
 '0002908',
 '0010602',
 '0000430',
 '0004553',
 '0015776',
 '0017638',
 '0005044',
 '0008016',
 '0006411',
 '0005152',
 '0043693',
 '0005053',
 '0002265',
 '0019186',
 '0003001',
 '0016168',
 '0006496',
 '0016383',
 '0000866',
 '0005393',
 '0002049',
 '0019312',
 '0015796',
 '0004643',
 '0006547',
 '0043878',
 '0024277',
 '0005508',
 '0005313',
 '0008315',
 '0007191',
 '0012415',
 '0006844',
 '0020696',
 '0009365',
 '0005149',
 '0000212',
 '0001445',
 '0018020',
 '0004977',
 '0010138',
 '0002279',
 '0005108',
 '0010269',
 '0006592',
 '0003265',
 '0042983',
 '0005059',
 '0021042',
 '0005648',
 '0002775',
 '0005391',
 '0020761',
 '0005480',
 '0000465',
 '0005151',
 '0005402',
 '0015364',
 '0005473',
 '0001572',
 '0010918',
 '0015780',
 '0006710',
 '0005264',
 '0006044',
 '0005259',
 '0006314',
 '0005342',
 '0005520',
 '0001529',
 '0005373',
 '0017612',
 '0018150',
 '0006685',
 '0005340',
 '0005178',
 '0005106',
 '0009735',
 '0017094',
 '0016575',
 '0001314',
 '0003964',
 '0011990',
 '0007101',
 '0020598',
 '0018906',
 '0006624',
 '0000141',
 '0004805',
 '0001273',
 '0015483',
 '0000960',
 '0019542',
 '0019402',
 '0024503',
 '0006507',
 '0003304',
 '0004585',
 '0002413',
 '0005396',
 '0012521',
 '0018695',
 '0024327',
 '0003282',
 '0000809',
 '0008487',
 '0005907',
 '0005453',
 '0003019',
 '0019118',
 '0015254',
 '0005275',
 '0002251',
 '0000837',
 '0004933',
 '0016064',
 '0012016',
 '0017319',
 '0001673',
 '0002928',
 '0019956',
 '0005392',
 '0007008',
 '0022754',
 '0019514',
 '0001384',
 '0019187',
 '0002508',
 '0018307',
 '0002283',
 '0006999',
 '0006654',
 '0002675',
 '0003441',
 '0004844',
 '0006831',
 '0044660',
 '0017610',
 '0005267',
 '0002332',
 '0000495',
 '0019992',
 '0005347',
 '0003009',
 '0005420',
 '0005020',
 '0010132',
 '0009696',
 '0006643',
 '0010258',
 '0005560',
 '0018029',
 '0007318',
 '0018019',
 '0008638',
 '0001751',
 '0005029',
 '0003143',
 '0005657',
 '0004782',
 '0006559',
 '0004885',
 '0006961',
 '0017069',
 '0020688',
 '0000004',
 '0012268',
 '0000265',
 '0005397',
 '0002406',
 '0006665',
 '0002037',
 '0019468',
 '0006657',
 '0025136',
 '0018868',
 '0015691',
 '0005996',
 '0008947',
 '0005315',
 '0002203',
 '0005180',
 '0005884',
 '0004846',
 '0002714',
 '0018824',
 '0005109',
 '0018876',
 '0020022',
 '0002679',
 '0006819',
 '0005571',
 '0002442',
 '0024573',
 '0000745',
 '0005350',
 '0005327',
 '0001913',
 '0011071',
 '0005388',
 '0005073',
 '0000248',
 '0019797',
 '0002657',
 '0017042',
 '0011507',
 '0002046',
 '0009944',
 '0025028',
 '0011577',
 '0002280',
 '0004789',
 '0005558',
 '0005376',
 '0019781',
 '0005333',
 '0043731',
 '0005346',
 '0005249',
 '0005306',
 '0002817',
 '0043985',
 '0006497',
 '0005047',
 '0042487',
 '0006895',
 '0017990',
 '0002267',
 '0015469',
 '0005099',
 '0006626',
 '0001909',
 '0005910',
 '0005468',
 '0016063',
 '0006956',
 '0007223',
 '0015797',
 '0002070',
 '0002473',
 '0005920',
 '0005154',
 '0015231',
 '0002476',
 '0004907',
 '0005369',
 '0005101',
 '0019214',
 '0007416',
 '0006649',
 '0020590',
 '0002912',
 '0017909',
 '0005495',
 '0005387',
 '0010481',
 '0001328',
 '0021667',
 '0005155',
 '0019152',
 '0006785',
 '0021167',
 '0010911',
 '0010726',
 '0008627',
 '0002412',
 '0006491',
 '0021061',
 '0000193',
 '0006499',
 '0010714',
 '0012128',
 '0015900',
 '0019127',
 '0005738',
 '0020040',
 '0024313',
 '0005010',
 '0005114',
 '0019737',
 '0019037',
 '0100096',
 '0005845',
 '0005277',
 '0044033',
 '0001824',
 '0005364',
 '0006908',
 '0001098',
 '0001029',
 '0006730',
 '0010672',
 '0008661',
 '0006805',
 '0000355',
 '0014368',
 '0001166',
 '0007275',
 '0006849',
 '0005927',
 '0006052',
 '0001967',
 '0017415',
 '0017844',
 '0017320',
 '0002329',
 '0004972',
 '0003085',
 '0009691',
 '0019558',
 '0005694',
 ...}

In [44]:
old[old['mondo'].isin(new_set)]

         mondo                     ctd.pathway_related_to_disease
55     0005889  hsa05160;hsa04014;hsa05162;hsa04071;hsa04072;h...
58     0005002  hsa05211;hsa05160;hsa04720;hsa04917;hsa04330;h...
69     0018301  hsa04623;hsa05164;hsa04060;hsa04668;hsa04622;h...
74     0005324                                           hsa04970
97     0005109  hsa05211;hsa05160;hsa04932;hsa_M00351;hsa04514...
...        ...                                                ...
24550  0021100  hsa05211;hsa05160;hsa04720;hsa04917;hsa04330;h...
24564  0008627                                           hsa04659
24581  0004750  hsa05030;hsa04015;hsa05034;hsa04024;hsa04540;h...
24606  0009637  hsa05160;hsa05144;hsa04932;hsa05162;hsa05166;h...
24643  0002282       hsa05203;hsa04060;hsa04144;hsa04062;hsa05145

[1255 rows x 2 columns]

In [35]:
mondo_set = list(set('MONDO:' + temp['mondo']))

In [36]:
md = get_client("disease")
mapping = md.getdiseases(mondo_set, fields='ctd.pathway_related_to_disease.kegg_pathway_id',
                         species='human', returnall=False, as_dataframe=True, df_index=False)
mapping

querying 1-1000...done.
querying 1001-2000...done.
querying 2001-3000...done.
querying 3001-4000...done.
querying 4001-5000...done.
querying 5001-6000...done.
querying 6001-7000...done.
querying 7001-8000...done.
querying 8001-9000...done.
querying 9001-10000...done.
querying 10001-11000...done.
querying 11001-12000...done.
querying 12001-12354...done.

,query,_id,_version,ctd.pathway_related_to_disease,ctd.pathway_related_to_disease.kegg_pathway_id,notfound
0,MONDO:0014018,MONDO:0014018,1.0,NaN,NaN,NaN
1,MONDO:0002654,MONDO:0002654,1.0,"[{'kegg_pathway_id': 'hsa04080'}, {'kegg_pathw...",NaN,NaN
2,MONDO:0004891,MONDO:0004891,1.0,NaN,NaN,NaN
3,MONDO:0002033,MONDO:0002033,1.0,NaN,NaN,NaN
4,MONDO:0006674,MONDO:0006674,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...
12349,MONDO:0000173,MONDO:0000173,1.0,NaN,NaN,NaN
12350,MONDO:0020358,MONDO:0020358,1.0,NaN,NaN,NaN
12351,MONDO:0001582,MONDO:0001582,1.0,NaN,NaN,NaN
12352,MONDO:0014839,MONDO:0014839,1.0,NaN,NaN,NaN
12353,MONDO:0000338,MONDO:0000338,1.0,NaN,NaN,NaN

In [37]:
test = mapping[['query','ctd.pathway_related_to_disease']].dropna()
test

               query                     ctd.pathway_related_to_disease
1      MONDO:0002654  [{'kegg_pathway_id': 'hsa04080'}, {'kegg_pathw...
9      MONDO:0009514                  [{'kegg_pathway_id': 'hsa00564'}]
11     MONDO:0024327  [{'kegg_pathway_id': 'hsa00260'}, {'kegg_pathw...
12     MONDO:0005106  [{'kegg_pathway_id': 'hsa00562'}, {'kegg_pathw...
13     MONDO:0012240  [{'kegg_pathway_id': 'hsa04260'}, {'kegg_pathw...
...              ...                                                ...
12331  MONDO:0008759  [{'kegg_pathway_id': 'hsa00020'}, {'kegg_pathw...
12334  MONDO:0009615  [{'kegg_pathway_id': 'hsa00280'}, {'kegg_pathw...
12339  MONDO:0017439  [{'kegg_pathway_id': 'hsa04150'}, {'kegg_pathw...
12343  MONDO:0012276  [{'kegg_pathway_id': 'hsa04022'}, {'kegg_pathw...
12346  MONDO:0011789  [{'kegg_pathway_id': 'hsa00562'}, {'kegg_pathw...

[3074 rows x 2 columns]

In [38]:
test2 = mapping[['query','ctd.pathway_related_to_disease.kegg_pathway_id']].dropna()
test2

               query ctd.pathway_related_to_disease.kegg_pathway_id
124    MONDO:0009650                                       hsa04142
133    MONDO:0011915                                       hsa04392
154    MONDO:0012420                                       hsa04530
185    MONDO:0013188                                       hsa00910
187    MONDO:0013453                                       hsa04390
...              ...                                            ...
11913  MONDO:0012471                                       hsa03030
11945  MONDO:0044318                                       hsa04115
11952  MONDO:0012025                                       hsa05202
12021  MONDO:0012448                                       hsa04144
12222  MONDO:0011555                                       hsa05202

[136 rows x 2 columns]

In [39]:
test["query"] = test["query"].str.replace('MONDO:', '')
test

         query                     ctd.pathway_related_to_disease
1      0002654  [{'kegg_pathway_id': 'hsa04080'}, {'kegg_pathw...
9      0009514                  [{'kegg_pathway_id': 'hsa00564'}]
11     0024327  [{'kegg_pathway_id': 'hsa00260'}, {'kegg_pathw...
12     0005106  [{'kegg_pathway_id': 'hsa00562'}, {'kegg_pathw...
13     0012240  [{'kegg_pathway_id': 'hsa04260'}, {'kegg_pathw...
...        ...                                                ...
12331  0008759  [{'kegg_pathway_id': 'hsa00020'}, {'kegg_pathw...
12334  0009615  [{'kegg_pathway_id': 'hsa00280'}, {'kegg_pathw...
12339  0017439  [{'kegg_pathway_id': 'hsa04150'}, {'kegg_pathw...
12343  0012276  [{'kegg_pathway_id': 'hsa04022'}, {'kegg_pathw...
12346  0011789  [{'kegg_pathway_id': 'hsa00562'}, {'kegg_pathw...

[3074 rows x 2 columns]

In [52]:
omim_to_pathway[omim_to_pathway['mondo'].isin(set(test["query"]))]

        mondo                                            pathway
0     0000908  {hsa05412, hsa04390, hsa04670, hsa05226, hsa05...
2     0000914  {hsa05165, hsa05206, hsa01522, hsa05224, hsa05...
5     0002629  {hsa05206, hsa04218, hsa04934, hsa05200, hsa05...
9     0005298  {hsa05010, hsa04974, hsa04928, hsa04611, hsa05...
10    0006277  {hsa04151, hsa05165, hsa05231, hsa04152, hsa04...
...       ...                                                ...
3461  0044320  {hsa04930, hsa00052, hsa04066, hsa00500, hsa00...
3464  0044339  {hsa04151, hsa05165, hsa04145, hsa04974, hsa04...
3471  0054549                                         {hsa04146}
3488  0054698                                         {hsa03050}
3522  0060457                                         {hsa04621}

[1866 rows x 2 columns]

In [53]:
test[test['query'].isin(set(omim_to_pathway["mondo"]))]

         query                     ctd.pathway_related_to_disease
9      0009514                  [{'kegg_pathway_id': 'hsa00564'}]
13     0012240  [{'kegg_pathway_id': 'hsa04260'}, {'kegg_pathw...
53     0009061  [{'kegg_pathway_id': 'hsa02010'}, {'kegg_pathw...
60     0012392  [{'kegg_pathway_id': 'hsa00071'}, {'kegg_pathw...
61     0013910                  [{'kegg_pathway_id': 'hsa04080'}]
...        ...                                                ...
12324  0009218  [{'kegg_pathway_id': 'hsa00600'}, {'kegg_pathw...
12331  0008759  [{'kegg_pathway_id': 'hsa00020'}, {'kegg_pathw...
12334  0009615  [{'kegg_pathway_id': 'hsa00280'}, {'kegg_pathw...
12343  0012276  [{'kegg_pathway_id': 'hsa04022'}, {'kegg_pathw...
12346  0011789  [{'kegg_pathway_id': 'hsa00562'}, {'kegg_pathw...

[1866 rows x 2 columns]

In [76]:
pd.set_option('display.max_colwidth', None)
test[test['query']=='0044320']['ctd.pathway_related_to_disease']

3078    [{'kegg_pathway_id': 'hsa00010'}, {'kegg_pathway_id': 'hsa00051'}, {'kegg_pathway_id': 'hsa00052'}, {'kegg_pathway_id': 'hsa00500'}, {'kegg_pathway_id': 'hsa00520'}, {'kegg_pathway_id': 'hsa00524'}, {'kegg_pathway_id': 'hsa01100'}, {'kegg_pathway_id': 'hsa01200'}, {'kegg_pathway_id': 'hsa04066'}, {'kegg_pathway_id': 'hsa04910'}, {'kegg_pathway_id': 'hsa04930'}, {'kegg_pathway_id': 'hsa04973'}, {'kegg_pathway_id': 'hsa05230'}, {'kegg_pathway_id': 'hsa_M00001'}, {'kegg_pathway_id': 'hsa_M00549'}]
Name: ctd.pathway_related_to_disease, dtype: object

In [75]:
omim_to_pathway[omim_to_pathway['mondo']=='0044320']

,mondo,pathway
3461,0044320,"{hsa04930, hsa00052, hsa04066, hsa00500, hsa00520, hsa04973, hsa05131, hsa05230, hsa01100, hsa01250, hsa04910, hsa00051, hsa00524, hsa00010, hsa01200}"