# Testing environment for DoSE

## Setup

### Load libraries

In [23]:
import pandas as pd
import numpy as np 
import gseapy
from biothings_client import get_client

### Define data

In [2]:
seeds_file = "Input/0007079.txt"
betweenness_file = "Input/0007079_added_200_dmd_betweenness_hub_0.01.txt"
significance_file = "Input/0007079_added_200_dmd_significance_hub_1.txt"
diseases_file = "Input/ICD10_commROCG_raw.txt"
disease_clusters_file = "Input/ICD10_commROCG_cluster.txt"

### Load data

In [3]:
disease_id = "0007079"
seeds = pd.read_csv(seeds_file, sep="\t", header=None)[0]
betweenness = pd.read_csv(betweenness_file, sep="\t")['node']
significance = pd.read_csv(significance_file, sep="\t")['node']
diseases = pd.read_csv(diseases_file, sep="\t", header=None)
disease_clusters = pd.read_csv(disease_clusters_file, sep="\t", header=None)

In [4]:
import timeit
start = timeit.default_timer()

stop = timeit.default_timer()
print('Time: ', stop - start)

Time:  4.699100099969655e-05

## Testing

In [7]:
import graph_tool as gt

In [9]:
g = gt.load_graph("../tmp-network.graphml")

In [19]:
g.vertex_properties["ID"][1]

'Q14315'

In [21]:
full_list = list()
for v in g.vertices():
    neighbors = list()
    for n in v.out_neighbors():
        neighbors.append(g.vertex_properties["ID"][n])
    full_list.append([g.vertex_properties["ID"][v], neighbors, len(neighbors)])

In [26]:
pd.DataFrame(full_list, columns=["id", "neighbors", "degree"])

           id                                          neighbors  degree
0      P45985  [Q14315, Q12851, Q9UPT6, Q16584, Q9Y6R4, Q9Y2U...     458
1      Q14315  [Q92629, Q9NP98, Q9NZV8, Q9NPC6, Q8TDC0, Q86SQ...     417
2      P35609  [Q86TC9, Q12959, Q9NRI5, Q13224, Q9NP98, Q9UQP...     351
3      Q86TC9  [Q8WZ42, Q9H6A0, Q9NYZ3, Q92538, Q86TC9, Q969Q...     105
4      P49354  [Q04771, Q12974, Q9UBN7, P52735, P52630, Q1415...     100
...       ...                                                ...     ...
19597  Q6ZV50                                       [A0A087WXM9]       1
19598  B1AL88                                           [Q9UI14]       1
19599  P60606                                           [Q13585]       1
19600  Q6ZVK1                                           [Q9P2X0]       1
19601  P0DJ07                                           [P61601]       1

[19602 rows x 3 columns]

In [32]:
atts = pd.read_csv("../mapping_files/gene_id_mapping.csv", dtype="str")
atts

      entrezgene symbol uniprot.Swiss-Prot     ensembl.gene
0              1   A1BG             P04217  ENSG00000121410
1              2    A2M             P01023  ENSG00000175899
2              3  A2MP1                NaN  ENSG00000256069
3              9   NAT1             P18440  ENSG00000171428
4             10   NAT2             P11245  ENSG00000156006
...          ...    ...                ...              ...
61638    8923215    NaN                NaN              NaN
61639    8923216    NaN                NaN              NaN
61640    8923217    NaN                NaN              NaN
61641    8923218    NaN                NaN              NaN
61642    8923219    NaN                NaN              NaN

[61643 rows x 4 columns]

,mondo,disgenet.variants_related_to_disease,disgenet.genes_related_to_disease,ctd.pathway_related_to_disease
0,0000001,rs1800454;rs11864909;rs1570360;rs112329286;rs9...,10806;6184;146;6934;1244;3065;59272;6891;8694;...,NaN
1,0000004,rs1564421528;rs104894118;rs770374710;rs1219186...,1586;2908;55532;215;4791;5551;540;10108;5087;6...,hsa04913;hsa_M00107;hsa01100;hsa00140;hsa04925
2,0000005,rs121434451;rs773764015;rs121434448;rs7014851,55806,NaN
3,0000009,rs121918036;rs181991348;rs753947399;rs5030764;...,2623;7171;722;9402;1432;26073;9370;10598;10855...,NaN
4,0000022,rs6313,1815;51540;554;277;551;54796;276;6783;627;1392...,NaN
...,...,...,...,...
24115,0400000,NaN,NaN,NaN
24116,0400002,NaN,NaN,NaN
24117,0400003,NaN,NaN,NaN
24118,0400004,NaN,NaN,NaN
24119,0400005,NaN,NaN,NaN